$modal-z: 40 !default;

// $modal-background-background-color: bulmaRgba($scheme-invert, 0.86) !default;
$modal-background-background-color: rgba(0, 0, 0, 0.75) !default;

$modal-content-width: 780px !default;
$modal-content-margin-mobile: 20px !default;
$modal-content-spacing-mobile: 160px !default;
$modal-content-spacing-tablet: 40px !default;

$modal-close-dimensions: 40px !default;
$modal-close-right: 20px !default;
$modal-close-top: 20px !default;

$modal-card-spacing: 40px !default;

$modal-card-head-background-color: $white !default;
$modal-card-head-border-bottom: 1px solid #333 !default;
$modal-card-head-padding: 34px 0 !default;
$modal-card-head-radius: 0 !default;

$modal-card-title-color: $text-strong !default;
$modal-card-title-line-height: 1.3 !default;
$modal-card-title-size: $size-3 !default;

$modal-card-foot-radius: 0 !default;
$modal-card-foot-border-top: none !default;

$modal-card-body-background-color: $scheme-main !default;
$modal-card-body-padding: 20px 0 !default;

.modal {
	@extend %overlay;

	display: none;
	overflow: hidden;
	position: fixed;
	z-index: $modal-z;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 10px;

	// Modifiers
	&.is-active {
		display: flex;
	}

	&-full {
		padding: 0;

		.modal-card {
			max-height: calc(100vh);

			// Responsiveness
			@include tablet {
				max-height: calc(100vh - #{$modal-content-spacing-tablet});
			}
		}
	}

	&-background {
		@extend %overlay;
		background-color: $modal-background-background-color;

		&-unclose {
			@extend %overlay;
			background-color: $modal-background-background-color;
		}
		&-this {
			@extend %overlay;
			background-color: $modal-background-background-color;
		}
	}

	&-content,
	&-card {
		margin: 0 $modal-content-margin-mobile;
		max-height: calc(100vh - #{$modal-content-spacing-mobile});
		overflow: auto;
		position: relative;
		width: 100%;

		// Responsiveness
		@include tablet {
			margin: 0 auto;
			max-height: calc(100vh - #{$modal-content-spacing-tablet});
			width: $modal-content-width;
		}
	}

	&-close,
	&-close-this {
		@extend %delete;

		background: none;
		height: $modal-close-dimensions;
		position: fixed;
		right: $modal-close-right;
		top: $modal-close-top;
		width: $modal-close-dimensions;
	}

	&-card {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		max-height: calc(100vh - #{$modal-card-spacing});
		padding: 0 40px;
		background-color: #fff;
		-ms-overflow-y: visible;

		@at-root .modal-alert & {
			max-width: 360px;
			padding: 20px;
		}

		&-head,
		&-foot {
			align-items: top;
			background-color: $modal-card-head-background-color;
			display: flex;
			flex-shrink: 0;
			justify-content: flex-start;
			padding: $modal-card-head-padding;
			position: relative;
			@at-root;
		}
		&-head {
			justify-content: flex-end;
		}

		&-head {
			border-bottom: $modal-card-head-border-bottom;
			border-top-left-radius: $modal-card-head-radius;
			border-top-right-radius: $modal-card-head-radius;

			.delete {
				margin-right: -10px;
			}

			@at-root .modal-alert & {
				padding: 0;
				border: none;
				justify-content: flex-end;

				.delete {
					margin-top: -10px;
				}
			}
		}

		&-title {
			width: calc(100% - 40px);
			color: $modal-card-title-color;
			flex-grow: 1;
			flex-shrink: 0;
			font-size: $modal-card-title-size;
			font-weight: normal;
			line-height: $modal-card-title-line-height;
		}

		&-foot {
			display: block;
			border-bottom-left-radius: $modal-card-foot-radius;
			border-bottom-right-radius: $modal-card-foot-radius;
			border-top: $modal-card-foot-border-top;
			text-align: center;

			.button {
				min-width: 130px;
				margin-left: 3px;
				margin-right: 3px;
			}
		}

		&-body {
			@include overflow-touch;
			background-color: $modal-card-body-background-color;
			flex-grow: 1;
			flex-shrink: 1;
			overflow: auto;
			padding: $modal-card-body-padding;

			@at-root .modal-alert & {
				font-size: $size-normal;
				text-align: center;
				padding: 10px;

				.button-area {
					margin-top: 30px;

					.button {
						min-width: 100px;
						margin: 3px;
					}
				}
			}
		}
	}
}
.text-direction {
	height: 320px;
	border-bottom: 1px solid #eee;
	p {
		font-size: 16px;
	}
}
