$pagination-color: #888 !default;
$pagination-border-color: #ccc !default;
//$pagination-margin: -3px !default;
$pagination-min-width: 40px !default;

$pagination-item-font-size: $size-6 !default;
$pagination-item-margin: 1px !default;
$pagination-item-padding-left: 0.5em !default;
$pagination-item-padding-right: 0.5em !default;

$pagination-arrow-hover-color: #f9f9f9 !default;
$pagination-hover-color: #333 !default;
$pagination-hover-border-color: #333 !default;

$pagination-focus-color: $link-focus !default;
$pagination-focus-border-color: $link-focus-border !default;

$pagination-active-color: $link-active !default;
$pagination-active-border-color: $link-active-border !default;

$pagination-disabled-color: $text-light !default;
$pagination-disabled-background-color: $border !default;
$pagination-disabled-border-color: $border !default;

$pagination-current-color: $link-invert !default;
$pagination-current-background-color: #333 !default;
$pagination-current-border-color: #333 !default;

$pagination-ellipsis-color: $grey-light !default;

$pagination-shadow-inset: inset 0 1px 2px rgba($scheme-invert, 0.2);

.pagination {
	@extend %block;

	font-size: $size-normal;
	//margin: $pagination-margin;

	// Sizes
	&.is-small {
		font-size: $size-small;
	}

	&.is-medium {
		font-size: $size-medium;
	}

	&.is-large {
		font-size: $size-large;
	}

	&.is-rounded {

		.pagination-first,
		.pagination-last,
		.pagination-previous,
		.pagination-next {
			padding-left: 1em;
			padding-right: 1em;
			border-radius: $radius-rounded;
		}

		.pagination-link {
			border-radius: $radius-rounded;
		}
	}
}

.pagination,
.pagination-list {
	// align-items: center;
	display: inline-block;
	// justify-content: center;
	text-align: center;
}

.pagination-link,
.pagination-ellipsis {
	@extend %control;

	@extend %unselectable;
	display: inline-flex;
	height: 40px;
	justify-content: center;
	margin: $pagination-item-margin;
	padding-left: $pagination-item-padding-left;
	padding-right: $pagination-item-padding-right;
	text-align: center;
	font-size: $pagination-item-font-size;
}

.pagination-first,
.pagination-last,
.pagination-previous,
.pagination-next {
	@extend %control2;

	@extend %unselectable;
	display: inline-flex;
	height: 40px;
	justify-content: center;
	margin: $pagination-item-margin;
	padding-left: $pagination-item-padding-left;
	padding-right: $pagination-item-padding-right;
	text-align: center;
	font-size: $pagination-item-font-size;
}

.pagination-link {
	border-color: $pagination-border-color;
	color: $pagination-color;
	min-width: $pagination-min-width;
	outline: none;

	&:hover,
	&:focus,
	&:active {
		// background-color: $pagination-arrow-hover-color;
		border-color: $pagination-hover-border-color;
		color: $pagination-hover-color;
	}

	// &:focus {
	// 	border-color: $pagination-focus-border-color;
	// }

	// &:active {
	// 	box-shadow: $pagination-shadow-inset;
	// }

	&[disabled] {
		border-color: $pagination-disabled-border-color;
		box-shadow: none;
		color: $pagination-disabled-color;
		opacity: 0.5;
	}
}

.pagination-first,
.pagination-last,
.pagination-previous,
.pagination-next {
	// border-color: $pagination-border-color;
	color: $pagination-color;
	min-width: $pagination-min-width;
	outline: none;

	&:hover,
	&:focus,
	&:active {
		background-color: $pagination-arrow-hover-color;
		color: $pagination-hover-color;
		// border-color: $pagination-hover-border-color;
	}

	// &:focus {
	// 	border-color: $pagination-focus-border-color;
	// }

	// &:active {
	// 	box-shadow: $pagination-shadow-inset;
	// }

	&[disabled] {
		background-color: $pagination-disabled-background-color;
		box-shadow: none;
		color: $pagination-disabled-color;
		opacity: 0.5;
		// border-color: $pagination-disabled-border-color;
	}
}

.pagination-first,
.pagination-last,
.pagination-previous,
.pagination-next {
	margin: 0;
	min-width: 30px;
	padding-left: 6px;
	padding-right: 6px;
	border-color: transparent;
	white-space: nowrap;
	// &:hover,
	// &:focus,
	// &:active {
	// 	border-color: transparent;
	// }

	// &:focus {
	// 	border-color: $pagination-focus-border-color;
	// }

	&:active {
		box-shadow: none;
	}

	i {
		width: 10px;

		&:before {
			margin-left: -2px;
		}
	}
}

.pagination-link {
	&.is-current {
		background-color: $pagination-current-background-color;
		border-color: $pagination-current-border-color;
		color: $pagination-current-color;
	}
}

.pagination-ellipsis {
	color: $pagination-ellipsis-color;
	pointer-events: none;
}

.pagination-list {
	flex-wrap: wrap;
	margin: 0 10px;

	li {
		display: inline-block;
	}
}

// @include mobile {
// 	.pagination {
// 		flex-wrap: wrap;
// 	}

// 	.pagination-first,
// 	.pagination-last,
// 	.pagination-previous,
// 	.pagination-next {
// 		flex-grow: 1;
// 		flex-shrink: 1;
// 	}

// 	.pagination-list {
// 		li {
// 			display: inline-block;
// 			// flex-grow: 1;
// 			// flex-shrink: 1;
// 		}
// 	}
// }

// @include tablet {
// 	.pagination-list {
// 		flex-grow: 1;
// 		flex-shrink: 1;
// 		justify-content: flex-start;
// 		order: 1;
// 	}

// 	.pagination-previous {
// 		order: 2;
// 	}

// 	.pagination-next {
// 		order: 3;
// 	}

// 	.pagination {
// 		justify-content: space-between;

// 		&.is-centered {
// 			.pagination-previous {
// 				order: 1;
// 			}

// 			.pagination-list {
// 				justify-content: center;
// 				order: 2;
// 			}

// 			.pagination-next {
// 				order: 3;
// 			}
// 		}

// 		&.is-right {
// 			.pagination-previous {
// 				order: 1;
// 			}

// 			.pagination-next {
// 				order: 2;
// 			}

// 			.pagination-list {
// 				justify-content: flex-end;
// 				order: 3;
// 			}
// 		}
// 	}
// }