<!-- footer-top -->
<div class="footer-top">
	<div class="container">
		<!-- footer-top-menu -->
		<div class="footer-top-menu">
			<ul>
				<li><a href="#" class="footer-top-menu__link">회사소개</a></li>
				<li>
					<a href="#" class="footer-top-menu__link"><strong>개인정보 처리방침</strong></a>
				</li>
				<!-- 200827, [위치정보 이용약관, 영상정보처리기기 운영/관리방침] 추가 -->
				<li><a href="#" class="footer-top-menu__link">위치정보 이용약관</a></li>
				<li><a href="#" class="footer-top-menu__link">영상정보처리기기 운영/관리방침</a></li>
				<!-- 200819, [윤리경영 > 이용약관으로 텍스트 변경] -->
				<li><a href="#" class="footer-top-menu__link">이용약관</a></li>
				<li><a href="#" class="footer-top-menu__link">경영이념</a></li>
				<li><a href="#" class="footer-top-menu__link">투자정보</a></li>
				<li><a href="#" class="footer-top-menu__link">인재채용</a></li>
				<li><a href="#" class="footer-top-menu__link">제휴 및 대리점 개설안내</a></li>
			</ul>
		</div>
		<!-- //footer-top-menu -->
		<!-- footer-family-site -->
		<div class="footer-family-site fr">
			<button class="button-family-site">FAMILY SITE<i class="icon-arrow-down-white"></i></button>
			<ul class="footer-family-site-list">
				<!-- <li class="selectBox-optgroup">One Pass Site</li> -->
				<li><a href="https://www.hyundailivart.co.kr/" target="_blank" title="새창 열림">현대리바트</a></li>
				<li><a href="https://mall.hyundailivart.co.kr/">리바트몰</a></li>
				<li><a href="https://www.hyundailivart.co.kr" target="_blank" title="새창 열림">리바트스토리</a></li>
				<!-- <li class="selectBox-optgroup">Family Site</li> -->
				<li><a href="https://www.ehyundai.com/newPortal/ir" target="_blank" title="새창 열림">현대백화점 그룹</a></li>
				<li><a href="https://www.ehyundai.com" target="_blank" title="새창 열림">현대백화점</a></li>
				<li><a href="https://www.hyundaihmall.com" target="_blank" title="새창 열림">현대홈쇼핑</a></li>
				<li><a href="https://www.hyundaigreenfood.com" target="_blank" title="새창 열림">현대그린푸드</a></li>
				<li><a href="http://www.thehansome.com" target="_blank" title="새창 열림">한섬</a></li>
				<!-- <li><a href="http://www.hyundaihns.com" target="_blank" title="새창 열림">현대H&amp;S</a></li>  -->
				<li><a href="https://www.hcn.co.kr" target="_blank" title="새창 열림">현대HCN</a></li>
				<li><a href="https://www.hyundaimedia.com" target="_blank" title="새창 열림">현대미디어</a></li>
				<li><a href="https://www.hyundairentalcare.co.kr" target="_blank" title="새창 열림">현대렌탈케어</a></li>
				<li><a href="https://www.hyundaidreamtour.com" target="_blank" title="새창 열림">현대드림투어</a></li>
				<li><a href="https://www.everdigm.com" target="_blank" title="새창 열림">에버다임</a></li>
				<li><a href="http://www.cnsfoodsystem.co.kr" target="_blank" title="새창 열림">씨엔에스푸드시스템</a></li>
				<li><a href="http://www.hyundaicatering.co.kr" target="_blank" title="새창 열림">현대캐터링시스템</a></li>
				<li><a href="http://www.hyundai-ite.com" target="_blank" title="새창 열림">현대IT&amp;E</a></li>
			</ul>
		</div>
		<!-- // footer-family-site -->

		<!-- 200819, [ footer-top-nav 삭제 ] -->
		<!-- footer-top-nav -->
		<!-- <div class="footer-top-nav">
			<ul>
				<li><a href="#" class="footer-top-nav__link">사이트맵</a></li>
				<li><a href="#" class="footer-top-nav__link">오시는길</a></li>
			</ul>
		</div> -->
		<!-- //footer-top-nav -->
	</div>
</div>
<!-- //footer-top -->
<!-- footer-bottom -->
<div class="footer-bottom">
	<div class="container">
		<div class="float-left">
			<!-- footer-bottom-content -->
			<div class="footer-bottom-content">
				<!-- 200819, [ li > a 텍스트 수정 ] -->
				<!-- footer-bottom-menu -->
				<div class="footer-bottom-menu float-left">
					<ul>
						<li><a href="#" class="footer-bottom-menu__link">AS 예약</a></li>
						<li><a href="#" class="footer-bottom-menu__link">자주하는 질문</a></li>
						<li><a href="#" class="footer-bottom-menu__link">1:1문의</a></li>
						<li><a href="#" class="footer-bottom-menu__link">매장찾기</a></li>
						<li><a href="#" class="footer-bottom-menu__link">고객의 소리</a></li>
					</ul>
				</div>
				<!-- //footer-bottom-menu -->
				<!-- footer-bottom-sns -->
				<div class="footer-bottom-sns float-right">
					<!-- 200819, [ sns 수정, 삭제 ] -->
					<a href="#" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
						<i class="icon-foot-sns-youtube"></i>
						<span class="hidden">유튜브</span>
					</a>
					<a href="#" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
						<i class="icon-foot-sns-blog"></i>
						<span class="hidden">네이버 블로그</span>
					</a>
					<a href="#" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
						<i class="icon-foot-sns-insta"></i>
						<span class="hidden">인스타그램</span>
					</a>
					<a href="#" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
						<i class="icon-foot-sns-facebook"></i>
						<span class="hidden">페이스북</span>
					</a>
					<a href="#" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
						<i class="icon-foot-sns-hinge"></i>
						<span class="hidden">매거진힌지</span>
					</a>

					<!-- 200908, 트위터 삭제, 인스타 추가 -->
					<!-- <a href="#" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
						<i class="icon-foot-sns-twiter"></i>
						<span class="hidden">트위터</span>
					</a> -->

					<!-- <a href="#" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
						<i class="icon-foot_sns3"></i>
						<span class="hidden">유튜브</span>
					</a> -->
					<!-- <a href="#" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
						<i class="icon-foot_sns1"></i>
						<span class="hidden">인스타그램</span>
					</a> -->
				</div>
				<!-- //footer-bottom-sns -->
			</div>
			<!-- //footer-bottom-content -->
			<!-- footer-bottom-contact -->
			<!-- 200908, 마크업 추가, 수정 -->
			<div class="footer-bottom-contact">
				<div class="footer-telnumber-big clear">
					<dl class="fl">
						<dt>고객센터</dt>
						<dd>1577-3332 <span class="is-size-5">(유료)</span></dd>
					</dl>
				</div>
				<ul>
					<li>
						<span class="footer-bottom-contact__t">T.</span>
						<span class="footer-bottom-contact__d"><strong>영업문의</strong>02-3480-8000</span>
					</li>
					<li>
						<span class="footer-bottom-contact__t">F.</span>
						<span class="footer-bottom-contact__d">02-6442-8081</span>
					</li>
					<li>
						<span class="footer-bottom-contact__t">M.</span>
						<!-- 200915, 이메일 주소 변경 -->
						<span class="footer-bottom-contact__d">livartcs@hyundailivart.co.kr</span>
					</li>
				</ul>
			</div>
			<!-- //footer-bottom-contact -->
			<!-- footer-bottom-info -->
			<div class="footer-bottom-info">
				<ul>
					<li>
						<span class="footer-bottom-info__t">(주)현대리바트</span>
					</li>
					<li>
						<span class="footer-bottom-info__t">대표이사</span>
						<span class="footer-bottom-info__d">윤기철</span>
					</li>
					<li>
						<span class="footer-bottom-info__t">본사</span>
						<span class="footer-bottom-info__d">경기도 용인시 남사면 경기동로 316</span>
					</li>
					<li>
						<span class="footer-bottom-info__t">서울사무소</span>
						<!-- 200915, [ 주소 텍스트 수정 ] -->
						<span class="footer-bottom-info__d">서울특별시 강남구 압구정로 201</span>
					</li>
					<li>
						<span class="footer-bottom-info__t">개인정보관리 책임자</span>
						<span class="footer-bottom-info__d">이영식</span>
					</li>
					<li>
						<span class="footer-bottom-info__t">사업자등록번호</span>
						<span class="footer-bottom-info__d">
							135-81-32239
							<a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=&amp;apv_perm_no=2014562002730200049"
								class="footer-bottom-info__link button" target="_blank" title="새창 열림">사업자확인 </a>
						</span>
					</li>
					<li>
						<span class="footer-bottom-info__t">통신판매업신고</span>
						<!-- 200819, [ 통신판매업신고 텍스트 수정 ] -->
						<span class="footer-bottom-info__d">2014-용인-00049</span>
					</li>
				</ul>
			</div>
			<!-- //footer-bottom-info -->

			<!-- 200819, [ footer-bottom-copy 텍스트 수정 ] -->
			<!-- footer-bottom-copy -->
			<div class="footer-bottom-copy">Copyrightⓒ HYUNDAI LIVART Corporation. All Rights Reserved.</div>
			<!-- //footer-bottom-copy -->
		</div>

		<div class="float-right">
			<!-- footer-bottom-logo -->
			<div class="footer-bottom-logo">
				<img src="/assets/images/common/footer_bi.png" alt="HYUNDAI LIVART" />
			</div>
			<!-- //footer-bottom-logo -->
			<!-- footer-bottom-cs -->
			<div class="footer-bottom-cs">
				<div class="footer-bottom-cs-tel">
					<p class="text-cs-tel"><strong>모바일 앱</strong>으로<br />더욱 편하게 쇼핑하세요</p>
					<img src="../../assets/images/common/qrcode.png" alt="QR코드" />
				</div>
			</div>
			<!-- //footer-bottom-cs -->
		</div>
		<!-- //footer-bottom-right -->
	</div>
</div>
<!-- // footer-bottom -->