<!-- footer-bottom -->
<div class="footer-bottom bottom-to-top">
	<div class="container">
		<div class="float-left">
			<!-- footer-bottom-contact -->
			<!-- 200908, 마크업 추가, 수정 -->
			<div class="footer-bottom-contact">
				<div class="footer-telnumber-big clear">
					<dl class="fl">
						<dt>고객센터</dt>
						<dd>1577-3332</dd>
					</dl>
					<dl class="fl">
						<dt>해외브랜드</dt>
						<dd>1800-5300</dd>
					</dl>
				</div>
				<ul>
					<li>
						<span class="footer-bottom-contact__t">T.</span>
						<span class="footer-bottom-contact__d"><strong>영업문의</strong>02-3480-8000</span>
					</li>
					<li>
						<span class="footer-bottom-contact__t">F.</span>
						<span class="footer-bottom-contact__d">02-6442-8081</span>
					</li>
					<li>
						<span class="footer-bottom-contact__t">M.</span>
						<!-- 200915, 이메일 주소 변경 -->
						<span class="footer-bottom-contact__d">livartcs@hyundailivart.co.kr</span>
					</li>
				</ul>
			</div>
			<!-- //footer-bottom-contact -->
			<!-- footer-bottom-info -->
			<div class="footer-bottom-info">
				<ul>
					<li>
						<span class="footer-bottom-info__t">(주)현대리바트</span>
					</li>
					<li>
						<span class="footer-bottom-info__t">대표이사</span>
						<span class="footer-bottom-info__d">윤기철</span>
					</li>
					<li>
						<span class="footer-bottom-info__t">본사</span>
						<span class="footer-bottom-info__d">경기도 용인시 남사면 경기동로 316</span>
					</li>
					<li>
						<span class="footer-bottom-info__t">서울사무소</span>
						<!-- 200915, [ 주소 텍스트 수정 ] -->
						<span class="footer-bottom-info__d">서울특별시 강남구 압구정로 201</span>
					</li>
					<li>
						<span class="footer-bottom-info__t">개인정보관리 책임자</span>
						<span class="footer-bottom-info__d">이영식</span>
					</li>
					<li>
						<span class="footer-bottom-info__t">사업자등록번호</span>
						<span class="footer-bottom-info__d">
							135-81-32239
							<a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=&amp;apv_perm_no=2014562002730200049" class="footer-bottom-info__link button" target="_blank" title="새창 열림">사업자확인 </a>
						</span>
					</li>
					<li>
						<span class="footer-bottom-info__t">통신판매업신고</span>
						<!-- 200819, [ 통신판매업신고 텍스트 수정 ] -->
						<span class="footer-bottom-info__d">2014-용인-00049</span>
					</li>
				</ul>
			</div>
			<!-- //footer-bottom-info -->

			<!-- 200819, [ footer-bottom-copy 텍스트 수정 ] -->
			<!-- footer-bottom-copy -->
			<div class="footer-bottom-copy">Copyrightⓒ HYUNDAI LIVART Corporation. All Rights Reserved.</div>
			<!-- //footer-bottom-copy -->
		</div>

		<div class="float-right">
			<!-- footer-bottom-logo -->
			<div class="footer-bottom-logo mt0">
				<img src="/assets/images/common/footer_bi.png" alt="HYUNDAI LIVART" />
			</div>
			<!-- //footer-bottom-logo -->
		</div>
		<!-- //footer-bottom-right -->
	</div>
</div>
<!-- // footer-bottom -->
