<!-- header logo -->
<div class="header-logo">
    <div class="container">
        <a href="index.html" class="header-logo__title">
            <h1>LIVART</h1>
        </a>
        <a href="index.html" class="header-logo__title-sub">
            <h1>커뮤니티</h1>
        </a>

        <ul class="header-member-menu">
            <li>
                <a href="#" class="header-member-menu__btn icon"><i class="icon-gnb_mem1"></i><span>로그인</span></a>
            </li>
            <li>
                <a href="#" class="header-member-menu__btn icon"><i class="icon-gnb_mem2"></i><span>회원가입</span></a>
            </li>
            <li>
                <a href="#" class="header-member-menu__btn icon"><i class="icon-gnb_mem3"></i><span>장바구니</span></a>
            </li>
            <li>
                <a href="#" class="header-member-menu__btn icon"><i class="icon-gnb_mem4"></i><span>매장찾기</span></a>
            </li>
            <li>
                <a href="#" class="header-member-menu__btn icon"><i class="icon-gnb_mem5"></i><span>고객센터</span></a>
            </li>
        </ul>

        <div class="header-search-wrap">
            <form action="#">
                <fieldset>
                    <legend>통합검색</legend>
                    <div class="header-search">
                        <div class="header-search__dropdown dropdown-wrap">
                            <div class="dropdown">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>통합검색</span>
                                        <!-- icon-arrow-down-small 클래스 변경 ico-down_arrow : 200812 -->
                                        <span class="icon is-small"><i class="ico-down_arrow"></i></span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <button type="button" class="dropdown-item is-active">통합검색</button>
                                        <button type="button" class="dropdown-item">온라인</button>
                                        <button type="button" class="dropdown-item">오프라인</button>
                                        <button type="button" class="dropdown-item">리모델링</button>
                                        <button type="button" class="dropdown-item">윌리엄스 소노마</button>
                                        <button type="button" class="dropdown-item">포터리반</button>
                                        <button type="button" class="dropdown-item">포터리반 키즈</button>
                                        <button type="button" class="dropdown-item">웨스트엘름</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-search__input-wrap">
                            <input type="text" id="search" autocomplete="off" class="header-search__input"
                                placeholder="검색어를 입력하세요" title="검색어" />
                        </div>
                        <button type="submit" class="header-search__submit icon"><i class="ico-search"></i><span
                                class="sr-only">검색</span></button>
                    </div>
                </fieldset>
            </form>

            <!-- S : 최근검색어/인기검색어 -->
            <div class="header-search-content" id="headerSearchContent">
                <div class="header-search-content__header">
                    <ul>
                        <li class="is-active">
                            <button id="tab-search1" class="tab" role="tab" aria-controls="tabpanel-search1">
                                <span>최근 검색어</span>
                            </button>
                        </li>
                        <li>
                            <button id="tab-search2" class="tab" role="tab" aria-controls="tabpanel-search2">
                                <span>인기 검색어</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- 최근 검색어 -->
                <div id="tabpanel-search1" class="tabpanel is-active" role="tabpanel" aria-labelledby="tab-search1">
                    <div class="header-search-content__body">
                        <ul>
                            <li>
                                <a href="#">식탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">협탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">협탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">협탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">식탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">협탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">협탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">협탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">식탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">협탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">협탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">협탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">식탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">협탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">협탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                            <li>
                                <a href="#">협탁</a>
                                <button class="button-search-content__del"><i class="icon-del-small"></i><span
                                        class="sr-only">삭제</span></button>
                            </li>
                        </ul>
                    </div>
                    <div class="header-search-content__footer clear">
                        <div class="fl">
                            <button class="button-search-all__del">검색기록 전체삭제</button>
                        </div>
                        <div class="fr">
                            <button class="button-search-content__close">닫기 <i class="icon-del-small"></i></button>
                        </div>
                    </div>
                </div>
                <!-- //최근 검색어 -->
                <!-- 인기검색어 -->
                <div id="tabpanel-search2" class="tabpanel is-active" role="tabpanel" aria-labelledby="tab-search2"
                    hidden>
                    <div class="header-search-content__body">
                        <ol class="header-search-content__popular">
                            <li>
                                <a href="#">
                                    <span class="search-result-ranking-tit">
                                        <em
                                            class="search-result-ranking-tit-order search-result-ranking-tit-order-top">1</em>
                                        <strong class="search-result-ranking-tit-name">소파</strong>
                                    </span>
                                    <span class="search-result-ranking-change"><i class="icon-ranking_same"></i><strong
                                            class="hidden">순위 변동없음</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="search-result-ranking-tit">
                                        <em
                                            class="search-result-ranking-tit-order search-result-ranking-tit-order-top">2</em>
                                        <strong class="search-result-ranking-tit-name">책상</strong>
                                    </span>
                                    <span class="search-result-ranking-chang"><i class="icon-ranking_same"></i><strong
                                            class="hidden">순위 변동없음</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="search-result-ranking-tit">
                                        <em
                                            class="search-result-ranking-tit-order search-result-ranking-tit-order-top">3</em>
                                        <strong class="search-result-ranking-tit-name">화장대</strong>
                                    </span>
                                    <span class="search-result-ranking-change"><i class="icon-ranking_up"></i><strong
                                            class="hidden">순위 상승</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="search-result-ranking-tit">
                                        <em class="search-result-ranking-tit-order">4</em>
                                        <strong class="search-result-ranking-tit-name">침대</strong>
                                    </span>
                                    <span class="search-result-ranking-change"><i class="icon-ranking_up"></i><strong
                                            class="hidden">순위 상승</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="search-result-ranking-tit">
                                        <em class="search-result-ranking-tit-order">5</em>
                                        <strong class="search-result-ranking-tit-name">의자</strong>
                                    </span>
                                    <span class="search-result-ranking-change"><em>NEW</em><strong class="hidden">순위
                                            진입</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="search-result-ranking-tit">
                                        <em class="search-result-ranking-tit-order">6</em>
                                        <strong class="search-result-ranking-tit-name">서랍장</strong>
                                    </span>
                                    <span class="search-result-ranking-change"><i class="icon-ranking_up"></i><strong
                                            class="hidden">순위 상승</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="search-result-ranking-tit">
                                        <em class="search-result-ranking-tit-order">7</em>
                                        <strong class="search-result-ranking-tit-name">매트릭스</strong>
                                    </span>
                                    <span class="search-result-ranking-change"><i class="icon-ranking_up"></i><strong
                                            class="hidden">순위 상승</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="search-result-ranking-tit">
                                        <em class="search-result-ranking-tit-order">8</em>
                                        <strong class="search-result-ranking-tit-name">거실장</strong>
                                    </span>
                                    <span class="search-result-ranking-change"><i class="icon-ranking_same"></i><strong
                                            class="hidden">순위 변동없음</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="search-result-ranking-tit">
                                        <em class="search-result-ranking-tit-order">9</em>
                                        <strong class="search-result-ranking-tit-name">의자</strong>
                                    </span>
                                    <span class="search-result-ranking-change"><i class="icon-ranking_same"></i><strong
                                            class="hidden">순위 변동없음</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="search-result-ranking-tit">
                                        <em class="search-result-ranking-tit-order">10</em>
                                        <strong class="search-result-ranking-tit-name">침대</strong>
                                    </span>
                                    <span class="search-result-ranking-change"><i class="icon-ranking_down"></i><strong
                                            class="hidden">순위 변동 하락</strong></span>
                                </a>
                            </li>
                        </ol>
                    </div>
                    <div class="header-search-content__footer">
                        <div class="fl">2020.03.25 기준</div>
                        <div class="fr">
                            <button class="button-search-content__close">닫기 <i class="icon-del-small"></i></button>
                        </div>
                    </div>
                </div>
                <!-- //인기검색어 -->
            </div>
            <!-- E : 최근검색어/인기검색어 -->

            <!-- S : 자동완성 -->
            <div class="header-search-content" id="headerSearchKeyword">
                <div class="header-search-content__header">
                    <a href="#">리바트 가구 설명서 리바트 가구 설명서 리바트 가구 설명서 리바트 가구 설명서 리바트 가구 설명서<i
                            class="icon-arrow-right"></i></a>
                    <a href="#">리바트 가구 설명서 리바트 가구 설명서 리바트 가구 설명서 리바트 가구 설명서 리바트 가구 설명서<i
                            class="icon-arrow-right"></i></a>
                    <a href="#">리바트 가구 설명서 리바트 가구 설명서 리바트 가구 설명서 리바트 가구 설명서 리바트 가구 설명서<i
                            class="icon-arrow-right"></i></a>
                </div>
                <div class="header-search-content__body">
                    <ul>
                        <li>
                            <a href="#">리바트 <strong>가구</strong></a>
                        </li>
                        <li>
                            <a href="#">리모델링 <strong>가구</strong></a>
                        </li>
                        <li>
                            <a href="#">리바트 <strong>가구</strong></a>
                        </li>
                        <li>
                            <a href="#">리모델링 <strong>가구</strong></a>
                        </li>
                        <li>
                            <a href="#">리바트 <strong>가구</strong></a>
                        </li>
                        <li>
                            <a href="#">리모델링 <strong>가구</strong></a>
                        </li>
                        <li>
                            <a href="#">리바트 <strong>가구</strong></a>
                        </li>
                        <li>
                            <a href="#">리모델링 <strong>가구</strong></a>
                        </li>
                        <li>
                            <a href="#">리바트 <strong>가구</strong></a>
                        </li>
                        <li>
                            <a href="#">리모델링 <strong>가구</strong></a>
                        </li>
                        <li>
                            <a href="#">리바트 <strong>가구</strong></a>
                        </li>
                        <li>
                            <a href="#">리모델링 <strong>가구</strong></a>
                        </li>
                    </ul>
                </div>
                <div class="header-search-content__footer">
                    <ul class="header-search-content__footer--hash">
                        <li>
                            <a href="#"># 리바트 <strong>가구</strong></a>
                        </li>
                        <li>
                            <a href="#"># 리모델링 <strong>가구</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- E : 자동완성 -->
        </div>
    </div>
</div>
<!-- //header logo -->

<!-- s : #gnb -->
<div id="gnb">
    <!-- gnb category -->
    <div class="gnb-category-wrap">
        <div class="fullmenu-bar">
            <div class="container clear">
                <!-- <button type="button" class="fullmenu__btn icon"><i class="icon-fullmenu"></i><span class="hidden">풀메뉴 열기</span></button> -->
                <!-- anime.js : svg line animation 처리 -->
                <nav class="gnb-category">
                    <h2 class="hidden">카테고리 메뉴</h2>
                    <ul class="gnb-category__menu gnb-category__menu-comm">
                        <li><a href="#">랜선집들이</a></li>
                        <li><a href="#">고수의 집들이</a></li>
                        <li>
                            <a href="#">매거진 <img class="img-txt" src="../../assets/images/community/txt_hinge.png"
                                    alt="Hinge" /></a>
                        </li>
                        <li><a href="#">리바트스토리</a></li>
                        <li><a href="#">이벤트</a></li>
                    </ul>
                </nav>

                <a href="#" class="button button-comm-write"><i class="ico-comm_content"></i>콘텐츠 등록</a>
            </div>
        </div>
        <div class="fullmenu-wrap">
            <div class="container"></div>
        </div>
    </div>
    <!-- //gnb category -->
</div>
<!-- e: gnb -->

<!-- S : 글등록 선택 popup : 200825-->
<div id="modal-comm-selectcontent" class="modal" style="display: none">
    <div class="container">
        <!-- S : 글등록 선택 -->
        <div class="comm-contents-seltop">
            <p class="comm-contents-seltop__desc">All New 리바트 커뮤니티 콘텐츠의 주역이 되어보세요</p>
            <strong class="comm-contents-seltop__title">
                콘텐츠 등록하면<br />
                H포인트와 상품이 우르르!
            </strong>
        </div>
        <ul class="comm-contents-select">
            <!-- 비노출시 li: class="is-disabled" -->
            <li class="white">
                <a href="https://www.hyundailivart.co.kr/eventDetail/E200000057?pagecode=D100000172">
                    <div class="inner">
                        <i class="comm-contents-select__img">
                            <img src="../../assets/images/community/comm-c3_white.png" alt="" />
                        </i>
                        <h4 class="comm-contents-select__title">작성가이드</h4>
                        <p class="comm-contents-select__desc">이것만 따라하면 쉬워요!</p>
                        <p class="comm-contents-select__point">자세히보기 &gt;</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="inner">
                        <i class="comm-contents-select__img">
                            <img src="../../assets/images/community/comm-c1.png" alt="" />
                        </i>
                        <h4 class="comm-contents-select__title">랜선 집들이</h4>
                        <p class="comm-contents-select__desc">집들이 콘텐츠 등록 시</p>
                        <p class="comm-contents-select__point">2,000P</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="inner">
                        <i class="comm-contents-select__img">
                            <img src="../../assets/images/community/comm-c2.png" alt="" />
                        </i>
                        <h4 class="comm-contents-select__title">고수의 집들이</h4>
                        <p class="comm-contents-select__desc">전문시공사례 등록 시</p>
                        <p class="comm-contents-select__point">최대 12,000P</p>
                    </div>
                </a>
            </li>
        </ul>
        <!-- E : 글등록 선택 -->
    </div>
</div>
<!-- E : 글등록 선택 popup : 200825-->