<!-- header top -->
<div class="header-top">
    <!-- <div class="header-top"> -->
    <div class="container">
        <a href="home" class="gnb-brand-menu__home"><i class="ico-home"></i><span class="sr-only">홈으로</span></a>
        <ul class="gnb-brand-menu">
            <li class="gnb-brand-menu__li gnb-brand-menu__1">
                <a href="./cate.html" class="gnb-brand-menu__btn" style="width: 260px">가구</a>
                <ul class="gnbdrops">
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000377">침실</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000394">옷장/수납</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000412">거실</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000437">주방</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000454">서재/홈오피스</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000477">키즈</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000537">가전</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000575">홈데코</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000715">A/S 부품</a></li>
                </ul>
            </li>
            <li class="gnb-brand-menu__li gnb-brand-menu__2">
                <a href="#" class="gnb-brand-menu__btn" style="width: 260px">주방&amp;욕실</a>
                <ul class="gnbdrops">
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000505">주방가구</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000506">욕실</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000507">중문</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000509">붙박이장</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000508">현관</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000824">벽지&amp;마루</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000510">홈케어</a></li>
                </ul>
            </li>
            <li class="gnb-brand-menu__li gnb-brand-menu__3">
                <a href="#" class="gnb-brand-menu__btn" style="width: 260px">오피스</a>
                <ul class="gnbdrops">
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000695">사무공간</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000461">홈오피스</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000458">의자</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000696">서재/임원공간</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000697">공용/휴계공간</a></li>
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000698">액세서리</a></li>
                </ul>
            </li>
            <li class="gnb-brand-menu__li gnb-brand-menu__4">
                <a href="#" class="gnb-brand-menu__btn" style="width: 260px">해외 프리미엄 홈퍼니싱</a>
                <ul class="gnbdrops">
                    <li><a target="_blank" href="https://www.hyundailivart.co.kr/eventDetail/E200000125">GIORGETTI</a>
                    </li>
                    <li><a target="_blank" href="http://www.williams-sonoma.co.kr/">Williams Sonoma</a></li>
                    <li><a target="_blank" href="http://www.potterybarn.co.kr/">Pottery Barn</a></li>
                    <li><a target="_blank" href="http://www.potterybarnkids.co.kr/">Pottery Barn Kids</a></li>
                    <li><a target="_blank" href="http://www.westelm.co.kr/">West elm</a></li>
                </ul>
            </li>
            <li class="gnb-brand-menu__li gnb-brand-menu__5">
                <a href="#" class="gnb-brand-menu__btn" style="width: 260px">
                    <img src="../../assets/images/common/logo_sams.png" alt="삼성" /></a>
                <!-- <ul class="gnbdrops">
                    <li><a href="https://www.hyundailivart.co.kr/c/C300000695">서브메뉴</a></li>
                </ul> -->
            </li>
            <!-- 해외 프리미엄 홈퍼니싱 메뉴인 경우 is-active 클래스 부여 -->
            <!-- // 201230 UI변경으로 삭제
					<li class="gnb-brand-menu__li gnb-brand-premium">
						<span class="gnb-brand-menu__btn gnb-brand-premium__btn" style="width: 411px">해외 프리미엄 홈퍼니싱</span>
						<i class="gnb-brand-premium__icon icon-arrow3"></i>
						<ul class="gnb-brand-menu__sub gnb-brand-premium__sub">
							<li class="gnb-brand-menu__sub-li gnb-brand-premium__sub-li">
								<a href="#" class="gnb-brand-premium__sub-link"> Williams Sonoma </a>
							</li>
							!-- 브랜드 링크시 is-active 클래스 부여 --
							<li class="gnb-brand-menu__sub-li gnb-brand-premium__sub-li">
								<a href="#" class="gnb-brand-premium__sub-link"> Pottery Barn </a>
							</li>
							<li class="gnb-brand-menu__sub-li gnb-brand-premium__sub-li">
								<a href="#" class="gnb-brand-premium__sub-link"> Pottery Barn Kids </a>
							</li>
							<li class="gnb-brand-menu__sub-li gnb-brand-premium__sub-li">
								<a href="#" class="gnb-brand-premium__sub-link"> west elm </a>
							</li>
						</ul>
						<i class="gnb-brand-premium-plusicon icon icon-plus"></i>
					</li> -->
        </ul>
    </div>
</div>
<!-- //header top -->