.header-style {
	// 온라인전용 #2ba2d9
	&-brand {
		.header-logo__title {
			@extend %header-style-logoimg;
			&-sub {
				@extend %header-logo__title-sub;
				h1 {
					@extend %header-logo__title-sub-h1;
				}
			}
		}
	}
}

.header-style {
	// 온라인전용 #2ba2d9
	&-online {
		.header-logo__title {
			// top: 38px;
			// width: 172px;
			// height: 32px;
			// background: url(../images/common/logo_livart_online.png) center no-repeat;
			// &-sub {
			// 	@extend %header-logo__title-sub;
			// 	margin-left: 17px;
			// 	h1 {
			// 		@extend %header-logo__title-sub-h1;
			// 	}
			// }
			@extend %header-style-logoimg;
			&-sub {
				@extend %header-logo__title-sub;
				h1 {
					@extend %header-logo__title-sub-h1;
				}
			}
		}
		// .header-logo {
		// 	border-color: #2ba2d9;
		// }
		// .header-search {
		// 	&-wrap,
		// 	&-content {
		// 		border-color: #2ba2d9;
		// 	}
		// 	&__submit {
		// 		color: #2ba2d9;
		// 	}
		// 	&__dropdown.dropdown-wrap .dropdown .dropdown-trigger {
		// 		.button {
		// 			color: #2ba2d9;
		// 			.icon-arrow-down-small {
		// 				color: #2ba2d9;
		// 			}
		// 		}
		// 	}
		// }
		// .dropdown-wrap .dropdown-menu .dropdown-content {
		// 	border-color: #2ba2d9;
		// }
		// .fullmenu__btn {
		// 	background-color: #2ba2d9;
		// }
	}
	// 매장가구 #3f4280
	&-off {
		.header-logo__title {
			@extend %header-style-logoimg;
			&-sub {
				@extend %header-logo__title-sub;
				h1 {
					@extend %header-logo__title-sub-h1;
				}
			}
		}
		// .header-logo {
		// 	border-color: #3f4280;
		// }
		// .header-search {
		// 	&-wrap,
		// 	&-content {
		// 		border-color: #3f4280;
		// 	}
		// 	&__submit {
		// 		color: #3f4280;
		// 	}
		// 	&__dropdown.dropdown-wrap .dropdown .dropdown-trigger {
		// 		.button {
		// 			color: #3f4280;
		// 			.icon-arrow-down-small {
		// 				color: #3f4280;
		// 			}
		// 		}
		// 	}
		// }
		// .dropdown-wrap .dropdown-menu .dropdown-content {
		// 	border-color: #3f4280;
		// }
		// .fullmenu__btn {
		// 	background-color: #3f4280;
		// }
	}
	// 리모델링 #47ac87
	&-kic {
		.header-logo__title {
			@extend %header-style-logoimg;
			&-sub {
				@extend %header-logo__title-sub;
				h1 {
					@extend %header-logo__title-sub-h1;
				}
			}
		}
		// .header-logo {
		// 	border-color: #47ac87;
		// }
		// .header-search {
		// 	&-wrap,
		// 	&-content {
		// 		border-color: #47ac87;
		// 	}
		// 	&__submit {
		// 		color: #47ac87;
		// 	}
		// 	&__dropdown.dropdown-wrap .dropdown .dropdown-trigger {
		// 		.button {
		// 			color: #47ac87;
		// 			.icon-arrow-down-small {
		// 				color: #47ac87;
		// 			}
		// 		}
		// 	}
		// }
		// .dropdown-wrap .dropdown-menu .dropdown-content {
		// 	border-color: #47ac87;
		// }
		// .fullmenu__btn {
		// 	background-color: #47ac87;
		// }
	}
	// 사무가구 #22354d
	&-ofc {
		.header-logo__title {
			@extend %header-style-logoimg;
			&-sub {
				@extend %header-logo__title-sub;
				h1 {
					@extend %header-logo__title-sub-h1;
				}
			}
		}
		// .header-logo {
		// 	border-color: #22354d;
		// }
		// .header-search {
		// 	&-wrap,
		// 	&-content {
		// 		border-color: #22354d;
		// 	}
		// 	&__submit {
		// 		color: #22354d;
		// 	}
		// 	&__dropdown.dropdown-wrap .dropdown .dropdown-trigger {
		// 		.button {
		// 			color: #22354d;
		// 			.icon-arrow-down-small {
		// 				color: #22354d;
		// 			}
		// 		}
		// 	}
		// }
		// .dropdown-wrap .dropdown-menu .dropdown-content {
		// 	border-color: #22354d;
		// }
		// .fullmenu__btn {
		// 	background-color: #22354d;
		// }
	}
}

.section-brand-wrap {
	padding-top: 40px;
	.tabs-wrap {
		font-size: 0;
		margin-bottom: 40px;
	}
}
.section-brand-form {
	width: 79%;
	margin: 0 auto 60px;
	.span-period {
		display: inline-flex;
		align-items: center;
		height: 50px;
		padding: 0 5px;
		line-height: 1;
		vertical-align: middle;
	}
	.control {
		&.checkbox-list {
			margin: -7px -10px;
			.checkbox {
				margin: 7px 10px;
			}
		}
		&.radio-list {
			margin: -7px -10px;
			.radio {
				margin: 7px 10px;
			}
		}
	}
}
.brand-contents-wrap {
	padding-top: 100px;
	// padding-bottom: 40px;
	text-align: center;
	&__logo {
		display: block;
		text-align: center;
		margin-bottom: 60px;
		img {
			width: auto;
			max-width: 100%;
		}
	}
	&__sublogo {
		display: block;
		text-align: center;
		margin-top: 55px;
		margin-bottom: 30px;
	}
	&__photo {
		display: block;
		text-align: center;
		margin-bottom: 60px;
	}
	&__title {
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 1.1;
		color: #333;
		&--big {
			margin-bottom: 30px;
			font-size: 50px;
			font-weight: 600;
			line-height: 1.4;
			color: #000;
		}
	}
	&__desc {
		margin-bottom: 60px;
		font-size: 20px;
		line-height: 1.5;
		color: #777;
	}
}
.brand-contents-section {
	margin-bottom: 100px;
	&__bg1 {
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 600px;
			margin-top: 84px;
			background-color: #f5f2f0;
			z-index: -1;
		}
	}
}
.off-movin-table {
	.table-dl-row__dt {
		width: 150px;
	}
}
.off-movein {
	&__banner {
		margin-bottom: 40px;
		z-index: 0;
	}
	&__photo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 320px;
		// background-color: #ccc;
	}
	&__title {
		display: block;
		margin-top: 60px;
		margin-bottom: 30px;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.1;
		color: #333;
	}
	&__box {
		display: flex;
		height: 150px;
		align-items: center;
		justify-content: center;
		background-color: #f1f1f1;
		font-size: 30px;
		color: #333;
		strong.color-blue {
			color: #5381c5;
			font-weight: 600;
			margin-right: 10px;
		}
	}
	&-consult {
		display: flex;
		margin: 40px -20px 100px;
		justify-content: space-between;
		li {
			display: inline-block;
			// height: 600px;
			margin: 0 20px;
		}
		&__img {
			display: flex;
			overflow: hidden;
			width: 100%;
			min-height: 450px;
			max-height: 450px;
			margin-bottom: 30px;
			font-size: 0;
			align-items: center;
			img {
				// width: auto;
				// height: 100%;
				width: 100%;
				height: auto;
			}
		}
		&__body {
			display: flex;
			.fl {
				float: none;
				flex: 1 1;
			}
			.fr {
				float: none;
				margin-left: 15px;
				flex: 0 0 90px;
				.button {
					width: 90px;
					min-width: 90px;
					height: 90px;
					font-size: 18px;
					line-height: 1.5;
				}
			}
		}
		&__title {
			margin-bottom: 15px;
			font-size: 20px;
			font-weight: 600;
			line-height: 1.1;
			color: #333;
		}
		&__dl {
			display: table;
			margin-bottom: 15px;
			line-height: 1.1;
		}
		&__dt {
			display: table-cell;
			width: 83px;
			font-size: 18px;
			color: #333;
		}
		&__dd {
			display: table-cell;
			font-size: 18px;
			line-height: 1.3;
		}
		&__tag {
			display: block;
			margin-top: 5px;
			padding-top: 20px;
			line-height: 1.1;
			@include text-ellipsis();
			max-width: 660px;
			border-top: 1px solid #eee;
			font-size: 18px;
		}
	}
}
.vertical-middle {
	&.is-flex {
		align-items: center;
	}
}
.brand-kic {
	h4.brand-contents__title {
		font-size: 40px;
		font-weight: 700;
		color: #333;
		text-align: left;
		+ .brand-contents__desc {
			text-align: left;
			font-size: 20px;
			font-weight: 600;
		}
	}
}
.is-type-bath {
	margin-bottom: 60px;
	align-items: center;

	.brand-contents {
		&__desc2 {
			display: block;
			margin-top: 150px;
			margin-bottom: 150px;
			font-size: 40px;
			color: #333;
		}
		&__desc3 {
			font-size: 30px;
			color: #333;
		}
		&__img2 {
			display: block;
			margin-bottom: 50px;
		}
		&__img4 {
			display: block;
			margin-bottom: 50px;
			img {
				width: auto;
				max-width: 100%;
			}
		}
		&-section__mt {
			margin-top: 150px;
		}
		&__title {
			margin-top: 50px;
			margin-bottom: 12px;
			font-size: 40px;
			font-weight: 700;
			color: #333;
			text-align: left;
		}
		&-section {
			.brand-contents__desc4 {
				font-size: 20px;
				font-weight: 600;
				text-align: left;
				margin-bottom: 30px;
			}
		}
	}
	.inner-text {
		&.kic-brand-recm {
			height: 800px;
			position: relative;
			flex-grow: 1;
		}
		.brand-contents__img--small {
			display: block;
			position: absolute;
			bottom: 0;
			width: 440px;
			height: 440px;
		}
	}
	.brand-contents {
		&__img {
			display: block;
			font-size: 0;
			flex-grow: 1;
			&-text {
				display: block;
				margin-top: 200px;
				margin-bottom: 200px;
				font-size: 40px;
				color: #333;
			}
		}
	}
	h4.brand-contents__title {
		margin-bottom: 60px;
		font-size: 42px;
		line-height: 1.1;
	}
}
.brand-contents {
	&-section {
		@at-root .brand-kic & {
			margin-bottom: 60px;
			align-items: center;

			&__mb {
				margin-bottom: 216px;
			}

			&.align-left {
				.brand-contents__img {
					margin-right: 130px;
					&.kic-brand-recm {
						margin-right: 40px;
						flex-grow: 0;
					}
				}
				.inner-text {
					height: auto;
					text-align: left;
					.brand-contents__img--small {
						left: 0;
					}
				}
			}
			&.align-right {
				.brand-contents__img {
					margin-left: 200px;
					&.kic-brand-recm {
						margin-left: 40px;
						flex-grow: 0;
					}
				}
				.inner-text {
					.brand-contents__img--small {
						right: 0;
					}
				}
			}
			.inner-text {
				&.kic-brand-recm {
					height: 800px;
					position: relative;
					flex-grow: 1;
				}
				.brand-contents__img--small {
					display: block;
					position: absolute;
					bottom: 0;
					width: 440px;
					height: 440px;
				}
			}
			.brand-contents {
				&__img {
					display: block;
					font-size: 0;
					flex-grow: 1;
					&-text {
						display: block;
						margin-top: 200px;
						margin-bottom: 200px;
						font-size: 40px;
						color: #333;
					}
				}
				&__desc {
					margin-bottom: 0;
				}
			}
			h4.brand-contents__title {
				margin-bottom: 60px;
				font-size: 42px;
				line-height: 1.1;
			}
		}

		@at-root .brand-ofc & {
			display: flex;
			margin-bottom: 100px;
			align-items: center;
			&__border {
				margin-top: 100px;
				padding-top: 100px;
				border-top: 1px solid #eee;
				h4.brand-contents__title {
					margin-bottom: 90px;
					font-size: 30px;
					color: #333;
					line-height: 1.1;
				}
			}

			&__mb {
				margin-bottom: 216px;
			}

			&.align-left {
				.brand-contents__img {
					width: 640px;
					margin-right: 100px;
					flex-grow: 0;
				}
				.inner-text {
					height: auto;
					flex-grow: 1;
				}
			}
			.brand-contents {
				&__desc {
					margin-bottom: 100px;
					font-size: 16px;
					color: #333;
				}
				&__title {
					font-size: 60px;
					font-weight: 600;
					color: #333;
				}
				&__link {
					font-size: 0;
					a {
						display: inline-block;
						margin-right: 30px;
						font-size: 16px;
						font-weight: 600;
						line-height: 1.1;
						color: #333;
						&:hover,
						&:focus {
							color: #ec1a47;
							&:after {
								background-color: #ec1a47;
							}
						}
						&:after {
							content: '';
							display: block;
							width: 100%;
							height: 4px;
							margin-top: 20px;
							background-color: #333;
						}
					}
				}
			}
			h4.brand-contents__title {
				margin-bottom: 60px;
				font-size: 42px;
				line-height: 1.1;
			}
		}
	}
	&__logo {
		display: block;
		text-align: center;
		margin-bottom: 60px;
		@at-root .is-type-kic & {
			margin-bottom: 100px;
		}
		@at-root .is-type-bath & {
			margin-bottom: 100px;
		}
	}
	&__sublogo {
		display: block;
		text-align: center;
		margin-top: 55px;
		margin-bottom: 30px;
	}
	&__photo {
		display: block;
		text-align: center;
		margin-bottom: 60px;
	}
	&__title {
		margin-bottom: 20px;
		font-size: 36px;
		line-height: 1.1;
		color: #333;
		&--big {
			margin-bottom: 30px;
			font-size: 50px;
			font-weight: 600;
			line-height: 1.4;
			color: #000;
		}
		@at-root .is-type-kic & {
			margin-top: 50px;
			margin-bottom: 12px;
			padding: 0 35px;
			font-size: 40px;
			font-weight: 700;
			color: #333;
			text-align: left;
		}
	}
	&__bg {
		&--gray {
			position: absolute;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 230px;
			margin-top: 344px;
			background-color: #f1f1f1;
		}
	}
	&__desc {
		margin-bottom: 60px;
		font-size: 20px;
		line-height: 1.5;
		color: #777;
		@at-root .is-type-kic & {
			margin-bottom: 200px !important;
			padding: 0 35px;
			font-size: 20px;
			font-weight: 600;
			text-align: left;
		}
	}
	&-gallery {
		display: block;
		margin: 0 -11px;
		font-size: 0;
		&__item {
			display: inline-block;
			width: 440px;
			margin: 0 11px 40px;
			text-align: center;
		}
		&__txt {
			margin-top: 30px;
			font-size: 20px;
			line-height: 1.1;
		}
	}
}
.kic-consult {
	&-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		&__item {
			display: inline-block;
			position: relative;
			width: 400px;
			&:not(:last-child) {
				&:after {
					position: absolute;
					top: 50%;
					right: -53px;
					margin-top: -53px;
					content: '\e94b';
					font-family: 'iconset' !important;
					font-size: 24px;
					color: #000;
					speak: never;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
		}
		&__icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 87px;
		}
		&__box {
			display: block;
			height: 300px;
			padding: 65px 10px 50px;
			margin-bottom: 35px;
			border: 1px solid #eee;
			text-align: center;
		}
		&__text {
			display: block;
			margin-top: 40px;
			text-align: center;
			font-size: 30px;
			color: #333;
		}
		&__desc {
			display: block;
			font-size: 16px;
			color: #777;
		}
	}
	&__title {
		display: block;
		padding-top: 100px;
		margin-bottom: 60px;
		border-top: 1px solid #ccc;
		font-size: 30px;
		color: #000;
		line-height: 1.1;
		text-align: center;
	}
	&-buttons {
		margin-top: 40px;
		margin-bottom: 100px;
		text-align: center;
		.button {
			width: 300px;
		}
	}
	&-box {
		margin-top: 60px;
		margin-bottom: 100px;
		.dot-list {
			margin: 0;
		}
	}
}
.ofc-brand-list {
	img {
		width: 248px;
	}
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 60px;
		color: #333;
		font-size: 16px;
	}
	&__img {
		flex-grow: 0;
		font-size: 0;
		margin-right: 60px;
	}
	.inner-text {
		flex-grow: 1;
	}
	&__title {
		display: block;
		margin-bottom: 50px;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.1;
	}
	&__subt {
		display: block;
		margin-bottom: 30px;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.1;
		i {
			margin: -2px 5px 0;
			vertical-align: middle;
		}
	}
}
.ofc-brand-promise {
	display: flex;
	width: 1185px;
	margin: 0 auto 150px;
	justify-content: space-between;
	&__item {
		position: relative;
		display: inline-flex;
		width: 320px;
		height: 320px;
		border-radius: 100%;
		border: 1px solid #eee;
		align-items: center;
		justify-content: center;
		&:not(:last-child) {
			&:after {
				position: absolute;
				top: 50%;
				right: -73px;
				margin-top: -15px;
				content: '';
				@include sprite-image($icon-x-big);
				@include sprite-position($icon-x-big);
				@include sprite-width($icon-x-big);
				@include sprite-height($icon-x-big);
			}
		}
		.inner {
			display: inline-block;
		}
	}
	&__title {
		display: block;
		margin: 0 auto 20px;
		text-align: center;
		font-size: 30px;
		font-weight: 600;
		color: #333;
	}
	&__desc {
		text-align: center;
		font-size: 14px;
		color: #333;
	}
}
.ofc-info {
	&__slogan {
		margin: 50px auto 30px;
		display: block;
		font-size: 20px;
		line-height: 1.1;
		color: #333;
		text-align: center;
	}
	&__title {
		margin: 0 auto 60px;
		display: block;
		font-size: 38px;
		line-height: 1.4;
		color: #333;
		text-align: center;
	}
	&__subt {
		margin: 50px auto 30px;
		display: block;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.1;
		color: #333;
		text-align: center;
	}
	&__desc {
		margin: 0 auto 25px;
		display: block;
		font-size: 16px;
		line-height: 1.65;
		color: #777;
		text-align: center;
	}
	&-content {
		margin-bottom: 180px;
		text-align: center;
		&__border {
			margin-top: 100px;
			padding-top: 100px;
			border-top: 1px solid #eee;
		}
		.ofc-info__title {
			font-size: 30px;
			margin-bottom: 30px;
		}
	}
	&-tab {
		&-wrap {
			display: flex;
			margin-top: 60px;
			margin-bottom: 150px;
			align-items: flex-start;
			justify-content: flex-start;
		}
		&__inner {
			height: 415px;
		}
		&__img {
			position: relative;
			font-size: 0;
			&-txt {
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 1;
				display: block;
				padding: 40px;
				width: 540px;
				height: 130px;
				color: #333;
				background-color: #fff;
				a {
					font-size: 14px;
					color: #333;
					i {
						margin-left: 8px;
					}
				}
			}
			&-title {
				font-size: 18px;
				line-height: 1.1;
				margin-bottom: 10px;
			}
		}
		&__text {
			width: 530px;
			margin-left: 100px;
		}
		&__title {
			display: block;
			margin: 110px auto 50px;
			font-size: 30px;
			font-weight: 400;
			line-height: 1.45;
			color: #333;
		}
		&__desc {
			font-size: 16px;
			line-height: 1.65;
			color: #777;
		}
		&__dl {
			display: flex;
			height: 26px;
		}
		&__dt {
			width: 135px;
			display: block;
			border-right: 1px solid #eee;
			font-size: 14px;
			color: #333;
		}
		&__dd {
			display: block;
			padding-left: 20px;
			font-size: 14px;
			color: #777;
			flex-grow: 1;
		}
	}
}
.ofc-info-tab {
	&.is-toggle li {
		a,
		.tab {
			border: none;
			border-bottom: 2px solid #eee;
		}
		&.is-active a,
		&.is-active .tab {
			border: none;
			border-bottom: 2px solid #333;
		}
	}
	&.tabs-normal.is-toggle {
		a,
		.tab {
			padding-bottom: 30px;
			font-size: 18px;
		}
	}
}
.ofc-consult-method {
	&__dl {
		display: flex;
		align-items: flex-start;
		margin-bottom: 90px;
	}
	&__dt {
		display: block;
		width: 310px;
		font-size: 30px;
		font-weight: 600;
		color: #333;
		text-align: left;
		flex-grow: 0;
		flex-shrink: 0;
	}
	&__dd {
		display: block;
		flex-grow: 1;
		text-align: left;
		.ofc-info {
			&__title {
				text-align: left;
			}
			&__subt {
				text-align: left;
			}
			&__desc {
				margin-bottom: 0;
				line-height: 1.8;
				text-align: left;
			}
		}
	}
}

.section-brand-form {
	.span-help {
		display: inline-flex;
		height: 50px;
		font-size: 14px;
		align-items: center;
		margin-left: 10px;
		color: #777;
	}
	.help {
		color: #777;
	}
}
.ofc-show {
	&-consult {
		&__wrap {
			margin: 0 -30px 100px;
		}
		&__dl {
			display: inline-block;
			clear: both;
			width: 650px;
			margin: 60px 30px 0;
			padding-top: 60px;
			border-top: 1px solid #eee;
			vertical-align: top;
		}
		&__dt {
			display: block;
			float: left;
			width: 300px;
			font-size: 30px;
			line-height: 1.3;
			color: #333;
		}
		&__dd {
			display: block;
			width: 350px;
			float: left;
			p {
				font-size: 14px;
				line-height: 1.8;
				color: #777;
			}
			.button {
				margin-top: 20px;
			}
		}
	}
	&-content {
		margin-top: 60px;
	}
}
.ofc-consult-ref {
	margin-top: 60px;
	&__border {
		margin-top: 100px;
		margin-bottom: 100px;
		padding-top: 100px;
		border-top: 1px solid #eee;
	}
	&__title {
		margin-bottom: 50px;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.1;
		color: #333;
	}
	&__list {
		font-size: 0;
		margin: -20px -40px;
		li {
			display: inline-block;
			overflow: hidden;
			width: 280px;
			height: 280px;
			margin: 20px 40px;
			border-radius: 100%;
			border: 1px solid #eee;
			vertical-align: top;
			span {
				display: flex;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
