*,
*::before,
*::after {
	box-sizing: border-box;
}

body.body-responsive {
	min-width: initial;
}
caption,
legend,
.hidden {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	vertical-align: middle;
	outline: none;
}

button:disabled,
button:disabled:hover,
button:disabled:focus {
	cursor: default;
}

::selection {
	background: #2ba2d9;
	color: #fff;
}

::-moz-selection {
	background: #2ba2d9;
	color: #fff;
}

.mt0 {
	margin-top: 0 !important;
}

.mt1 {
	margin-top: 10px !important;
}

.mt-1 {
	margin-top: -1px !important;
}

.mt-2 {
	margin-top: -20px !important;
}

.mt2 {
	margin-top: 20px !important;
}

.mt3 {
	margin-top: 30px !important;
}

.mt4 {
	margin-top: 40px !important;
}

.mt5 {
	margin-top: 50px !important;
}

.mt6 {
	margin-top: 60px !important;
}

.mt7 {
	margin-top: 70px !important;
}

.mt10 {
	margin-top: 100px !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.mb1 {
	margin-bottom: 10px !important;
}

.mb2 {
	margin-bottom: 20px !important;
}

.mb3 {
	margin-bottom: 30px !important;
}

.mb4 {
	margin-bottom: 40px !important;
}

.mb5 {
	margin-bottom: 50px !important;
}

.mb6 {
	margin-bottom: 60px !important;
}

.mb7 {
	margin-bottom: 70px !important;
}

.mb10 {
	margin-bottom: 100px !important;
}
.mb-5 {
	margin-bottom: -50px !important;
}
.ml0 {
	margin-left: 0 !important;
}

.ml1 {
	margin-left: 10px !important;
}

.ml2 {
	margin-left: 20px !important;
}

.ml3 {
	margin-left: 30px !important;
}

.ml4 {
	margin-left: 40px !important;
}

.ml5 {
	margin-left: 50px !important;
}

.mr1 {
	margin-right: 10px !important;
}

.mr2 {
	margin-right: 20px !important;
}

.mr3 {
	margin-right: 30px !important;
}

.mr4 {
	margin-right: 40px !important;
}

.mr5 {
	margin-right: 50px !important;
}

.mr6 {
	margin-right: 60px !important;
}
.pb0 {
	padding-bottom: 0 !important;
}
.pt2 {
	padding-top: 20px;
}
.pt4 {
	padding-top: 40px;
}
.pt6 {
	padding-top: 60px;
}
.pt8 {
	padding-top: 80px;
}
.pt10 {
	padding-top: 100px;
}
.inline-flex {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
}

.float-left,
.fl {
	float: left;
}

.float-right,
.fr {
	float: right;
}

.text-center,
.tl {
	text-align: center !important;
}

.text-left,
.tl {
	text-align: left !important;
}

.text-right,
.tr {
	text-align: right !important;
}

.text-initial {
	text-align: inherit !important;
}

.img-initial {
	img {
		width: auto !important;
		max-width: inherit !important;
	}
}
img.img-initial {
	width: auto !important;
	max-width: inherit !important;
}
.width-auto {
	width: auto;
}
.link {
	display: inline-block;
	position: relative;
	color: #777;
	line-height: 1.2;
	text-decoration: none;
	transition: all 0.3s;

	&:after {
		opacity: 1;
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		padding-bottom: 1px;
		background-color: #777;
		// border-bottom: 1px solid #777;
		transform: scale(1, 1);
		transition: all 0.3s;
	}

	&:hover:after {
		opacity: 0;
		transform: scale(0, 1);
	}
}

.word-wrap {
	word-break: keep-all;
	word-wrap: break-word;
}

// .icon {
// 	display: block;
// 	position: absolute;
// 	top: 50%;
// 	right: 0;
// 	bottom: 0;
// 	left: 50%;
// 	margin: 0;
// 	line-height: 0;
// 	transform: translate(-50%, -50%);
// }

// 웹접근성 skip
.skipnavi {
	a {
		display: block;
		overflow: hidden;
		width: 1px;
		height: 1px;
		margin: 0 -1px -1px 0;
		padding: 0;
		font-size: 0;
		line-height: 0;

		&:hover,
		&:active,
		&:focus {
			position: relative;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 5px 0;
			color: #fff;
			text-indent: 10px;
			font-weight: 400;
			font-size: 13px;
			line-height: 1;
			text-decoration: none !important;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.85);
		}
	}
}

html {
	font-size: 62.5%;
}

.dot-list {
	> li {
		margin-top: 0.5em;
		padding-left: 11px;
		font-size: 14px;
		line-height: 1.3;

		button {
			line-height: 1.2;
			vertical-align: text-top;
		}

		&:first-child {
			margin-top: 0;
		}

		&:before {
			display: block;
			float: left;
			content: '•';
			width: 11px;
			margin-left: -11px;
		}

		> ul {
			// padding-left: 14px;
			> li {
				font-size: 14px;
				margin-top: 0.5em;
				padding-left: 11px;
				font-size: 14px;

				&:before {
					display: block;
					float: left;
					content: '-';
					width: 11px;
					margin-left: -11px;
				}
			}
		}
	}
}

// 컬러 red 설정
.color-black {
	color: $black !important;
}

.color-red {
	color: $red !important;
}

.color-cyan {
	color: #47aeab !important;
}

.bg-white {
	background-color: #fff;
}

.bg-red {
	background-color: $red;
}

.bg-gray {
	background-color: #777;
}

.bg-blue {
	background-color: #28a0e4;
}

.bg-orange {
	background-color: #ff8d39;
}

.bg-brown {
	background-color: #9d8474;
}

.bg-black {
	background-color: #000;
}

.bg-whitesmoke {
	background-color: #f9f9f9;
}

.dl-table-style {
	display: table;
	width: 100%;

	&__dl {
		display: table-row;

		&:first-child {
			.dl-table-style__dt,
			.dl-table-style__dd {
				border-top: 1px solid #eee;
			}
		}
		&.is-type1 {
			.dl-table-style__dt {
				background-color: transparent;
				text-align: center;
				.gallery-photo {
					width: 115px;
					height: 150px;
					overflow: hidden;
					img {
						width: 100%;
						max-width: inherit;
						height: auto;
					}
				}
			}
			.dl-table-style__dd {
				line-height: 1.1;
				padding-left: 0;
				.is-flex {
					align-items: center;
					.flex-right {
						flex: 0 0 375px;
						.button-area {
							.button {
								min-width: 180px;
							}
						}
					}
				}
				.store-main-title {
					color: #333;
					font-size: 26px;
					font-weight: 600;
					vertical-align: middle;
					strong {
						display: inline-block;
						margin-right: 8px;
						font-size: 46px;
						vertical-align: middle;
					}
				}
				.store-sub-title {
					display: block;
					margin-bottom: 14px;
					color: #767676;
					font-size: 16px;
				}
			}
		}
	}

	&__dt,
	&__dd {
		display: table-cell;
		padding: 18px;
		border-bottom: 1px solid #eee;
		font-size: $size-normal;
		color: #333;
		vertical-align: middle;
	}

	&__dt {
		width: 162px;
		background-color: #f9f9f9;
	}

	&__dd {
		li {
			font-size: $size-normal;
			line-height: 1.1;
			list-style-position: inside;

			> p {
				margin-left: 18px;
			}
		}

		.desc {
			display: inline-block;
			margin-bottom: 5px;
		}

		.desc2 {
			font-size: 14px;
			color: #777;
		}
	}
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.align-items-c {
	display: flex;
	align-items: center;
}

.flex-end {
	display: flex;
	justify-content: flex-end !important;
}

.button-area {
	&.is-flex {
		&.is-center {
			width: 100%;
			justify-content: center;
			align-items: center;
		}
	}
}
.is-flex {
	.flex-left {
		flex: 1 1 auto;
	}
	.flex-right {
		flex: 0 0;
	}
}
.loading-container {
	// position: relative;
	display: none;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 40;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	.modal-background {
		background-color: rgba(0, 0, 0, 0.5);
	}
	&.is-active {
		display: flex;
	}

	.loading {
		@include loader;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 30px;
		height: 30px;
		margin-top: -15px;
		margin-left: -15px;
		border-width: 3px;
		border-left-color: #ddd;
		border-bottom-color: #ddd;
		&-text {
			display: block;
			position: absolute;
			z-index: 1;
			margin-top: 55px;
			color: #ddd;
			font-size: 13px;
			font-weight: 400;
			text-align: center;
		}
	}
}

.terms-content {
	padding: 1em 0;

	p {
		font-weight: 600;
		color: #333;
	}

	ul {
		margin: 0.7em;

		li {
			margin: 0.7em 0;
		}
	}

	> ul {
		> li {
			> ul {
				> li {
				}
			}
		}
	}
}

.__layout {
	&--tab {
		&2 {
			width: 100%;

			li {
				width: 50% !important;
			}
		}

		&3 {
			li {
				width: 33.333% !important;
			}
		}

		&4 {
			li {
				width: 25% !important;
			}
		}

		&5 {
			li {
				width: 20% !important;
			}
		}

		&6 {
			li {
				width: 16.667% !important;
			}
		}
	}
}

.pagination-wrap {
	margin-top: 40px;
	text-align: center;
}

// 콘텐츠 간격 주기
.gap-1,
.gap-2,
.gap-3,
.gap-4 {
	clear: both;
	height: auto;
	margin: 0 0 60px 0;
	background: transparent;
	&:before {
		content: '';
		display: block;
		clear: both;
	}
}

// 탭 사이즈 조절 및 새스타일 지정
.tabs {
	&.tabs-normal {
		&.is-toggle a,
		&.is-toggle .tab {
			font-size: 16px;
			height: 50px;
		}
	}
	&.tabs-normal--black {
		&.is-toggle {
			li.is-active a,
			li.is-active .tab {
				color: #fff;
				background-color: #333;
				border-color: #333;
			}
		}
	}
	&.tabs-normal--gray {
		position: relative;
		align-items: center;
		justify-content: flex-start;
		.swiper-container {
			width: 100%;
			// .swiper-slide {
			// 	min-width: 220px;
			// }
		}
		.section-category-control-wrap {
			top: 5px;
			width: 100px;
			&.is-liner .swiper-button-next,
			&.is-liner .swiper-button-prev {
				width: 50px;
				height: 50px;
				border: 1px solid #ccc;
				background-color: #fff;
				position: static;
				cursor: pointer;
			}
			&.is-liner .swiper-button-prev {
				border-right-color: transparent;
			}
		}
		ul {
			display: flex;
			width: 100%;
		}

		&.is-toggle {
			li {
				display: flex;
				flex-grow: 1;
				flex-shrink: 1;
				a,
				.tab {
					border: none;
					background-color: #f9f9f9;
					color: #999;
					outline: none;
				}
				&.is-active {
					a,
					.tab {
						color: #fff;
						background-color: #333;
						border-color: #333;
					}
				}
				+ li {
					margin: 0;
				}
			}
			.swiper-container-initialized {
				width: calc(100% - 100px);
				margin-left: 0;
				li.swiper-slide {
					display: block;
					flex-grow: unset;
					flex-shrink: 0;
				}
			}
		}
	}
}
// 와이드 이미지를 중앙 정렬 시킴
.image-center-fit {
	overflow: hidden;
	position: relative;
	background-position: 50% 0;
	background-repeat: no-repeat;
	img {
		position: absolute;
		left: 50%;
		visibility: hidden;
		opacity: 0;
		width: auto;
	}
}
// table-layout:fixed 추가
.content table {
	table-layout: fixed;
}

$transition: 'cubic-bezier(0.17, 0.04, 0.03, 0.94)';

@mixin text-ellipsis {
	display: block;
	word-wrap: normal;
	word-break: break-all;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@mixin text-ellipsis-2 {
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

@mixin text-ellipsis-3 {
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

@mixin disabled {
	cursor: default;
	pointer-events: none;
}
@mixin word-wrap {
	word-break: keep-all;
	word-wrap: break-word;
}

.editor-format {
	text-align: center;

	img {
		width: auto;
	}
	&.content {
		margin-bottom: 0;
		> div {
			> img {
				vertical-align: bottom;
			}
		}
	}
}

.text-pre-line {
	white-space: pre-line;
	p {
		white-space: pre-line;
	}
}
.text-inline-block {
	display: inline-block;
}
