/* S:쿠폰 팝업 */

//coupon common css
.modal-coupon-title {
	color: #333;
	font-size: $size-5;
	font-weight: 600;
}

.modal-coupon-line {
	border-bottom: 1px solid #ddd !important;
}

.modal-coupon-info {
	padding: 15px 0 20px 0;
	font-size: 16px;
	color: #888;
}

.modal-coupon-list-link {
	span {
		display: block;

		.link {
			display: inline-block;
			margin: 2px 0;
			padding: 3px 0;
			color: #444;
			line-height: 0.98;
			font-size: 14px;

			i {
				margin-left: 5px;
			}
		}
	}
}

//tabs nav
.tabs.tabs-coupon-modal .tab {
	font-size: 18px;
	line-height: 1.8;
}

//tabs coupon download
.coupon-card {
	&:nth-last-child(1) {
		.coupon-card-section {
			border-bottom: 1px solid #eee;
		}
	}
	//tabs coupon download card
	&-section {
		display: flex;
		align-items: stretch;
		position: relative;
		// height: 145px;
		padding: 30px 18px 30px 0;
		border: 1px solid #eee;
		border-right: none;
		border-bottom: none;
		border-left: none;
	}

	.coupon-card-left {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 160px;

		&__flag {
			display: inline-block;
			position: absolute;
			top: -1px;
			left: 0px;
			width: 150px;
			height: 30px;
			text-align: center;
			background-color: #333;
			color: #fff;
			font-size: 14px;
			line-height: 31px;
			&:before {
				display: inline-block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 10px;
				height: 10px;
				border-left: 10px solid #fff;
				border-bottom: 10px solid transparent;
			}
		}

		&__discount {
			display: block;
			// margin-top: 30px;
			color: $red;
			font-size: 32px;
			font-weight: 600;
			text-align: center;
		}
	}

	.coupon-card-center {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: calc(100% - 260px);
		padding: 0 30px;

		.modal-coupon-title {
			// padding-top: 5px;
		}

		.coupon-card-contents {
			display: flex;
			flex-wrap: wrap;
			margin-top: 6px;
			font-size: 14px;

			&__title {
				display: inline-block;
				width: 76px;
				padding: 2px 0;
				color: #333;
			}

			&__list {
				display: inline-block;
				width: calc(100% - 76px);
				padding: 2px 0;
				color: #777;
			}
		}

		.coupon-card-contents-info {
			margin-top: 4px;
		}
	}

	&-button {
		width: 90px;
		height: 90px;
		padding: 0;
		background-color: #2a384d;
		color: #fff;
		font-size: 14px;
		&__wrap {
			display: flex;
			align-items: center;
		}
		i {
			margin-top: 5px;
		}

		span {
			display: block;
			width: 75px;
			margin: 0 auto;
			word-break: keep-all;
			// margin-top: 12px;
			em {
				font-style: normal;
			}
		}

		&:disabled {
			color: #777;
			background-color: #ddd;

			span {
				margin-top: 0;
			}
		}
	}

	//coupon download Collapsible Card
	.card.card-coupon-card {
		margin-bottom: 20px;
		border: 1px solid #ccc;
		// border-top: none;
		box-shadow: none;
		background-color: #f9f9f9;

		.card-header {
			box-shadow: none;
			background-color: #fff;

			a {
				display: inline-block;
				width: 100%;
				text-align: center;
				height: 50px;
				line-height: 34px;

				strong {
					font-size: 16px;
					color: #333;
					font-weight: 400;
				}

				.icon {
					float: right;
					margin: 14px 10px 0 0;
				}
			}
		}

		.card-content {
			margin: 0px 20px;
			padding: 0;
			color: #333;

			&-coupon-card {
				padding: 17px 0 12px;
				display: flex;
				border-bottom: 1px solid #ccc;

				&__title {
					width: 136px;
					text-align: center;
					font-size: 16px;
				}

				.modal-coupon-list-link {
					width: calc(100% - 136px);
					padding: 0px 10px 4px;
					font-size: 14px;
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

//no coupon
.no-coupon {
	padding: 80px 0;
	text-align: center;

	p {
		margin-top: 35px;
		font-size: 16px;
	}
}

//has coupon
.has-coupon {
	padding-bottom: 15px;

	&-top-area {
		display: flex;
		justify-content: space-between;

		.checkbox {
			margin: 7px 0 0;
		}
	}

	&-list {
		margin-top: 15px;
		border-bottom: 1px solid #eee;
		&-box {
			display: block;
			overflow: hidden;
			position: relative;
			width: 100%;
			height: 82px;
			// margin: 2px 0;
			// padding-left: 20px;
			border-top: 1px solid #eee;
			cursor: pointer;
			span {
				&.has-coupon-list-box-info {
					cursor: default;
					&.is-danger {
						cursor: pointer;
						width: 100%;
					}
				}
			}
			.radio {
				height: inherit;
				width: 83%;
				margin-bottom: 0;

				input[type='radio'] + label {
					display: flex;
					justify-content: left;
					align-items: center;
					height: inherit;
					font-size: 16px;
					color: #333;
					line-height: 50px;
					&::after {
						top: 50%;
						transform: translateY(-50%) scale(0);
					}

					.has-coupon-list__title {
						display: inline-block;
						width: 135px;
						margin-left: 10px;
						font-weight: 400;
						color: inherit;
					}

					.has-coupon-list__text {
						display: block;
						width: 100%;
						max-width: 425px;
						line-height: 1;
					}
				}
				input[type='radio']:checked + label {
					&::after {
						transform: translateY(-50%) scale(1);
					}
				}
			}

			&-info {
				overflow: hidden;
				float: right;
				position: absolute;
				top: 0;
				right: 0;
				z-index: 1;
				height: inherit;
				padding: 0 20px 0 20px;
				text-align: right;
				line-height: 82px;
				font-size: 12px;
				color: #777;
				i {
					vertical-align: middle;
				}
				span {
					display: inline-block;
					margin: 0 0 0 5px;
					line-height: 17px;
					vertical-align: text-top;
				}
			}
		}

		&__text {
			display: inline-block;
			max-width: 320px;
			overflow: hidden;
			vertical-align: middle;
			white-space: nowrap;
			word-wrap: normal;
			word-break: break-all;
			text-overflow: ellipsis;
			&--list {
				margin-top: 10px;
				line-height: 1;
				&:after {
					display: block;
					content: '';
					clear: both;
				}
				li {
					position: relative;
					float: left;
					margin-left: 10px;
					padding-left: 11px;
					&:first-child {
						margin-left: 0;
						padding-left: 0;
						&:before {
							content: none;
						}
					}
					&:before {
						display: inline-block;
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						z-index: 1;
						width: 1px;
						height: 14px;
						background-color: #ccc;
						transform: translateY(-50%);
					}
					span {
						color: #777;
						font-size: $size-5;
						em {
							font-style: normal;
						}
					}
				}
			}
		}

		&__date {
			display: inline-block;
			margin-left: 3px;
			vertical-align: middle;
			font-size: 14px;
		}

		//active
		// &-box.is-active {
		// 	border-top: 1px solid #333;
		// }

		//disabled
		&-box.disabled {
			border: 1px solid #eee;
			background-color: #f9f9f9;

			.radio {
				input[type='radio'] + label {
					color: #777;
				}
			}
		}
	}
}

//coupon calculate
.coupon-calculate {
	padding: 30px 20px;
	background-color: #f9f9f9;
	&-div {
		display: flex;
		justify-content: flex-end;
		margin: 2px 0;
		&.discount {
			.coupon-calculate-div__title {
				color: #ed2650;
			}
		}
		&__title {
			color: #333;
			font-size: $size-6;
			&-tatal {
				color: #333;
				font-size: 20px;

				strong {
					display: inline-block;
					margin-right: 4px;
				}
			}
		}

		&__text {
			line-height: 1.3;

			strong {
				display: inline-block;
				width: 82px;
				margin-right: 4px;
				font-weight: 400;
				font-size: 18px;
				text-align: right;
			}

			span {
				color: #333;
				font-size: 16px;
			}

			&-tatal {
				line-height: 0.8;

				strong {
					margin: 0 2px 0 20px;
					font-size: 30px;
					font-weight: 600;
				}

				span {
					color: #333;
					font-size: 20px;
				}
			}
		}
	}
}

#modal-ter div.modal-card-body {
	margin: 0 -20px;
}

//coupon guide
.coupon-guide {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 15px;
	font-size: 16px;

	&-wrap {
		margin: 0 0 0 20px;
		padding: 20px 20px 20px 0;
	}

	&__title {
		width: 88px;
		padding: 6px 0;
		color: #333;
	}

	&__text {
		width: calc(100% - 88px);
		padding: 6px 0;
		word-break: keep-all;
	}

	&-list {
		width: calc(100% - 88px);

		&__title {
			display: block;
			padding: 5px 0;
			font-weight: 400;

			&::before {
				display: inline-block;
				padding-right: 5px;
				content: '·';
				font-weight: 600;
			}
		}
	}
}

.modal-coupon-list-link {
	margin: 0 0 8px 10px;

	.link {
		color: #777;

		&:after {
			border-color: inherit;
			opacity: 0;
			transform: scale(0, 1);
		}

		&:hover:after {
			opacity: 1;
			transform: scale(1, 1);
		}

		i {
			opacity: 0.8;
		}
	}
}

/* E:쿠폰 팝업 */

.section {
	&-item {
		&-contents {
			&__usercheck {
				position: relative;
				padding: 10px;
				background-color: #f9f9f9;
			}

			&__notlogin {
				min-height: 190px;

				&--info {
					display: block;
					padding-top: 50px;
					color: #333;
					font-size: $size-4;
					text-align: center;
				}

				&--button {
					justify-content: center;
					align-items: center;
					margin-top: 25px;

					.button {
						min-width: 128px;
						margin-left: 10px;

						&:first-child {
							margin-left: 0;
						}
					}
				}
			}

			&__userinfo {
				min-height: 190px;

				&--rating {
					display: table;
					table-layout: fixed;
					padding: 25px 100px 40px;
				}

				&--mark {
					display: table-cell;
					// justify-content: center;
					// align-items: center;
					// flex-wrap: wrap;
					position: relative;
					width: 125px;
					vertical-align: middle;

					i {
						display: block;
						margin: 0 auto;
					}

					.tooltip-info {
						margin-top: 15px;
						text-align: center;

						.tooltip-tit {
							margin-top: 15px;
							color: #333;
							font-size: $size-5;
							vertical-align: middle;
						}

						.icon-tooltip {
							display: inline-block;
							vertical-align: text-top;
							margin-left: 3px;
							cursor: pointer;

							&:hover {
								background: url(../images/common/tooltip_arrow_on.png) no-repeat center;

								+ .tooltip {
									display: block;
								}
							}
						}
						&__desc {
							display: block;
							margin-top: 5px;
							margin-bottom: 10px;
							font-size: 13px;
							font-weight: 600;
							line-height: 1.2;
							text-align: left;
						}

						.tooltip {
							display: none;
							position: absolute;
							top: 140px;
							left: -100px;
							z-index: 5;
							width: 220px;
							padding: 10px 20px;
							border: 1px solid #333;
							background-color: #fff;

							dl {
								justify-content: space-between;
								align-items: center;
								padding: 10px 0;
								border-top: 1px solid #eee;

								&:first-child {
									border-top: none;
								}

								dt,
								dd {
									color: #333;
									font-size: 13px;
									line-height: 1;
								}
							}
						}
					}
				}

				.coupon-info {
					display: flex;
					position: absolute;
					top: 20px;
					right: 20px;
					z-index: 1;
					align-items: center;

					.icon-info-red {
						display: inline-block;
						vertical-align: text-top;
						margin-right: 5px;
					}
					.icon-caution {
						margin-right: 5px;
					}
				}

				&--info {
					display: table-cell;
					// justify-content: left;
					// align-items: center;
					// flex-wrap: wrap;
					width: 380px;
					padding-left: 35px;
					padding-right: 20px;
					vertical-align: middle;
					word-break: keep-all;

					.btn-coupon-view {
						padding: 0;
						color: #333;
						font-size: $size-6;

						i {
							margin-left: 5px;
						}
					}

					.level + .btn-coupon-view {
						margin-top: 10px;
					}

					.wedding + .btn-coupon-view {
						margin-top: 20px;
					}
				}

				&--tag {
					display: block;
					width: 100%;
					margin-bottom: 5px;
					color: #333;
					font-size: $size-5;
					font-style: normal;
				}

				&--level {
					color: #333;
					font-size: $size-4;
				}

				&--wedding {
					margin-top: 8px;

					.icon-wedding {
						margin-right: 5px;
					}

					.date {
						color: #777;
						font-size: $size-6;

						.is-bold {
							color: #333;
						}
					}
				}
				&--friends {
					margin-top: 8px;

					.icon-friends {
						margin-right: 5px;
					}

					.date {
						color: #777;
						font-size: $size-6;

						.is-bold {
							color: #333;
						}
					}
				}

				&--couponnumber {
					display: table-cell;
					vertical-align: middle;
					width: 230px;

					&:before {
						display: block;
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						width: 1px;
						height: 120px;
						background-color: #ddd;
						transform: translateY(-50%);
					}

					&:after {
						display: block;
						content: '';
						position: absolute;
						top: 50%;
						right: 0;
						width: 1px;
						height: 120px;
						background-color: #ddd;
						transform: translateY(-50%);
					}

					dl {
						dt {
							text-align: center;
						}

						dd {
							text-align: right;
							margin-right: 70px;
						}
					}
				}

				&--rightline {
					display: table-cell;
					vertical-align: middle;

					&:before {
						display: block;
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						width: 1px;
						height: 156px;
						background-color: #ddd;
						transform: translateY(-50%);
					}
				}

				&--discount {
					display: table-cell;
					vertical-align: middle;
					width: 137px;
					text-align: right;

					dl {
						dt {
							text-align: center;
						}

						dd {
							text-align: right;
						}
					}

					&.discount-01 {
						dl {
							dd {
								margin-right: 38px;
							}
						}
					}

					&.discount-02 {
						dl {
							dd {
								margin-right: 27px;
							}
						}
					}

					&.discount-03 {
						dl {
							dd {
								margin-right: 33px;
							}
						}
					}
				}

				.check-user-info {
					position: relative;

					dl {
						margin-top: 10px;

						dt {
							color: #333;
							font-size: $size-5;
						}

						dd {
							color: #333;
							font-size: 50px;
							letter-spacing: -0.2px;
						}
					}
				}
			}

			&__coupon {
				&--input {
					justify-content: left;
					align-items: center;
					padding: 30px 100px;
					background-color: #fff;

					.input {
						width: 435px;
					}

					.button {
						min-width: 128px;
						margin-left: 10px;
					}

					.dot-list {
						margin-left: 40px;

						li {
							margin: 0;
							color: #8d8d8d;
							font-size: $size-6;

							.is-point {
								color: #333;
								font-style: normal;
							}
						}
					}
				}

				&--tabs {
					&.coupon-zone-tab {
						margin-top: 100px;

						.tabs {
							.tab {
								height: 50px;
							}
						}

						.section-item-contents__tab--title {
							padding-bottom: 0;
							border-bottom: none;
						}
					}

					//padding-bottom: 60px;
					.tabs {
						li {
							width: 50%;

							.tab {
								width: 100%;

								span {
									font-size: $size-5;
								}
							}
						}
					}
				}
			}

			&__dwcoupon--info {
				padding: 25px 30px;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;

				.dot-list {
					li {
						color: #999;
						font-size: $size-6;
					}
				}
			}

			&__tabs {
				&--top {
					justify-content: space-between;
					align-items: center;
					margin: 30px 0 60px;
				}

				&--selectwrap {
					.dropdown {
						margin-left: 3px;

						&:first-child {
							margin-left: 0;
						}

						.dropdown-trigger {
							.button {
								min-width: 185px;

								.icon {
									// display: inline-block;
								}
							}
						}
					}
				}
			}

			&__coupons {
				&--list {
					margin: 50px 0;
					padding-bottom: 50px;

					.coupon-list {
						// justify-content: left;
						// flex-wrap: wrap;
						margin: -20px -14.5px 0;

						> li {
							display: inline-block;
							margin: 50px 14.5px 0;
							vertical-align: top;
							// &:nth-child(4n + 1) {
							// 	margin-left: 0;
							// }
						}
					}
				}
			}

			&__tab--title {
				padding-bottom: 30px;
				border-bottom: 1px solid #ccc;
			}

			&__level {
				margin-top: 60px;

				// padding-bottom: 40px;
				.table {
					width: 100%;
					max-width: 1086px;
					margin: 40px auto 0;
					border-top: 1px solid #eee;
					border-bottom: 1px solid #eee;
					border-collapse: inherit;

					&.info {
						thead {
							th {
								padding: 20px 18px 20px;
								color: #777;
								font-weight: 600;
								text-align: left;

								&:first-child {
									color: #333;
									font-weight: 400;
								}
							}
						}

						tbody {
							td {
								text-align: left;
							}
						}
					}

					th,
					td {
						border-left: 1px solid #eee;
						vertical-align: middle;
						font-size: $size-5;
						font-weight: 400;

						&:first-child {
							border-left: none;
						}
					}

					thead {
						th {
							padding: 15px 18px 20px;
							background-color: #f9f9f9;
							border-bottom: none;
						}
					}

					tbody {
						td {
							padding: 20px;
							color: #777;
							font-size: $size-5;
							vertical-align: middle;
							text-align: center;

							&.coupon-wrap {
								position: relative;
								vertical-align: top;

								// padding-bottom: 60px;
								.button {
									display: none;
									position: absolute;
									bottom: 20px;
									left: 50%;
									z-index: 1;
									min-width: 100px;
									transform: translateX(-50%);
								}
							}
						}
					}
				}

				.dl-table-style {
					&.coupon-table {
						width: 100%;
						max-width: 1086px;
						margin: 60px auto 0;
					}
				}

				&.individual {
					// 개인회원 로그인 후 등급에 따른 그룹 선택
					.table {
						tbody {
							.end-line {
								th {
									border-left: 1px solid #eee;
								}
							}
						}
						&.forest {
							thead {
								th {
									&:nth-child(2) {
										position: relative;
										border-top: 2px solid #333;
										border-left: 2px solid #333;
										border-right: 2px solid #333;
									}
								}
							}

							tbody {
								tr {
									&:nth-child(1) {
										td {
											&:nth-child(2) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;

												&.coupon-wrap {
													padding-bottom: 60px;

													.button {
														display: block;
													}
												}
											}
										}
									}

									&:nth-child(2) {
										td {
											&:nth-child(2) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;
											}
										}
									}

									&:nth-child(3) {
										td {
											&:nth-child(2) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;
											}
										}
									}
									&:nth-child(4) {
										td {
											&:nth-child(3) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;
											}
										}
									}

									&:nth-child(5) {
										td {
											&:nth-child(2) {
												position: relative;
												border-left: 2px solid #333;
												border-right: 2px solid #333;
												border-bottom: 2px solid #333;
											}
										}
									}
								}
							}
						}

						&.tree {
							thead {
								th {
									&:nth-child(3) {
										position: relative;
										border-top: 2px solid #333;
										border-left: 2px solid #333;
										border-right: 2px solid #333;
									}
								}
							}

							tbody {
								tr {
									&:nth-child(1) {
										td {
											&:nth-child(3) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;

												&.coupon-wrap {
													padding-bottom: 60px;

													.button {
														display: block;
													}
												}
											}
										}
									}

									&:nth-child(2) {
										td {
											&:nth-child(3) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;
											}
										}
									}

									&:nth-child(3) {
										td {
											&:nth-child(3) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;
											}
										}
									}
									&:nth-child(4) {
										td {
											&:nth-child(4) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;
											}
										}
									}

									&:nth-child(5) {
										td {
											&:nth-child(3) {
												position: relative;
												border-left: 2px solid #333;
												border-right: 2px solid #333;
												border-bottom: 2px solid #333;
											}
										}
									}
								}
							}
						}

						&.flower {
							thead {
								th {
									&:nth-child(4) {
										position: relative;
										border-top: 2px solid #333 !important;
										border-left: 2px solid #333 !important;
										border-right: 2px solid #333 !important;
									}
								}
							}

							tbody {
								tr {
									&:nth-child(1) {
										td {
											&:nth-child(4) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;

												&.coupon-wrap {
													padding-bottom: 60px;

													.button {
														display: block;
													}
												}
											}
										}
									}

									&:nth-child(2) {
										td {
											&:nth-child(4) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;
											}
										}
									}

									&:nth-child(3) {
										td {
											&:nth-child(4) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;
											}
										}
									}
									&:nth-child(4) {
										td {
											&:nth-child(5) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;
											}
										}
									}
									&:nth-child(5) {
										td {
											&:nth-child(4) {
												position: relative;
												border-left: 2px solid #333;
												border-right: 2px solid #333;
												border-bottom: 2px solid #333;
											}
										}
									}
								}
							}
						}
					}
				}

				&.buisness {
					// 사업자 회원 로그인 후 등급에 따른 그룹 선택
					.table {
						&.forest {
							thead {
								th {
									&:nth-child(2) {
										position: relative;
										border-top: 2px solid #333;
										border-left: 2px solid #333;
										border-right: 2px solid #333;
									}
								}
							}

							tbody {
								tr {
									&:nth-child(1) {
										td {
											&:nth-child(2) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;

												&.coupon-wrap {
													padding-bottom: 60px;

													.button {
														display: block;
													}
												}
											}
										}
									}

									&:nth-child(2) {
										td {
											&:nth-child(2) {
												position: relative;
												border-left: 2px solid #333;
												border-right: 2px solid #333;
												border-bottom: 2px solid #333;
											}
										}
									}
								}
							}
						}

						&.tree {
							thead {
								th {
									&:nth-child(3) {
										position: relative;
										border-top: 2px solid #333;
										border-left: 2px solid #333;
										border-right: 2px solid #333;
									}
								}
							}

							tbody {
								tr {
									&:nth-child(1) {
										td {
											&:nth-child(3) {
												border-left: 2px solid #333;
												border-right: 2px solid #333;

												&.coupon-wrap {
													padding-bottom: 60px;

													.button {
														display: block;
													}
												}
											}
										}
									}

									&:nth-child(2) {
										td {
											&:nth-child(3) {
												position: relative;
												border-left: 2px solid #333;
												border-right: 2px solid #333;
												border-bottom: 2px solid #333;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&-contents-item__search--not {
		margin: 100px 0;
	}
}

.button {
	&.btn-down {
		display: inline-block;
		vertical-align: middle;

		i {
			display: inline-block;
			margin-left: 8px;
		}

		&:hover {
			i {
				@include sprite-image($icon-down-white);
				@include sprite-position($icon-down-white);
				@include sprite-width($icon-down-white);
				@include sprite-height($icon-down-white);
			}
		}

		&:focus {
			i {
				@include sprite-image($icon-down-white);
				@include sprite-position($icon-down-white);
				@include sprite-width($icon-down-white);
				@include sprite-height($icon-down-white);
			}
		}
	}
}

.only-wrap {
	position: relative;

	.only {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 70px;
		// padding-top: 30px;
		background-color: #333;

		.txt-wrap {
			.txt {
				display: inline-block;
				color: #fff;
				font-size: 14px;
				text-align: center;
				line-height: 1.4;
				word-break: keep-all;
				margin: 0 1px;
			}
			&:before {
				display: block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0px;
				height: 0px;
				border-left: 10px solid #fff;
				border-bottom: 10px solid transparent;
			}
		}
	}
}

// 쿠폰 layout
.item-coupon {
	&__wrap {
		width: 317px;

		.btn {
			display: block;
			position: relative;
			width: 100%;
			padding: 18px 0;
			background-color: #ddd;
			color: #777;
			font-size: $size-5;
			text-align: center;

			&.btn-coupon {
				background-color: #2a384d;
				color: #fff;

				i {
					margin-left: 10px;
				}
			}

			&.btn-coupon-end {
				// display: none;
			}

			&:before {
				display: block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0px;
				height: 0px;
				border-left: 12px solid #fff;
				border-bottom: 12px solid transparent;
			}

			&:after {
				display: block;
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 0px;
				height: 0px;
				border-right: 12px solid #fff;
				border-bottom: 12px solid transparent;
			}
		}
	}

	&__contents {
		position: relative;
		width: 100%;
		padding: 30px 20px 50px;
		border: 1px solid #ccc;

		&:after {
			display: block;
			content: '';
			position: absolute;
			bottom: -1px;
			left: -1px;
			z-index: 1;
			width: 317px;
			height: 12px;
			background: url(../images/common/bg_coupon.jpg) no-repeat center;
		}

		&--bottom {
			width: 100%;
			padding: 0 20px;
			position: absolute;
			bottom: 20px;
			left: 0;

			.items-number {
				float: left;
				color: #333;
				font-size: $size-6;
			}

			.btn-info {
				display: inline-block;
				padding-right: 0;
				float: right;
				vertical-align: middle;

				i {
					display: inline-block;
					margin-left: 5px;
					vertical-align: text-top;
				}
			}
		}
	}

	&__price {
		&--title {
			display: inline-block;
			margin-bottom: 8px;
			color: #333;
			font-size: $size-6;
			font-weight: 400;
		}

		&--price {
			line-height: 1;

			.number {
				font-size: 50px;
				font-weight: 600;
			}

			.won {
				font-size: $size-4;
				font-weight: 600;
			}

			.persent {
				font-size: 50px;
				font-weight: 600;
			}
		}
	}

	&__name {
		margin-top: 35px;

		&--title {
			display: block;
			overflow: hidden;
			width: 100%;
			color: #333;
			font-size: $size-6;
			font-weight: 600;
			text-overflow: ellipsis;
			white-space: nowrap;
			word-wrap: normal;
		}

		ul {
			margin-top: 5px;

			li {
				margin-top: 3px;
				padding-left: 11px;
				color: #777;
				font-size: $size-6;
				line-height: 1.3;
				letter-spacing: -0.2px;
				&:first-child {
					margin-top: 0;
				}
				&:before {
					display: block;
					float: left;
					content: '-';
					width: 11px;
					margin-left: -11px;
				}
			}
		}
	}
}

// 등급표 layout
.item-level-box {
	i {
		display: block;
		margin: 0 auto;
	}

	.txt {
		display: block;
		margin-top: 10px;
		font-weight: 600;
		text-align: center;
	}
}

// 등급표 쿠폰 다운로드 layout
.item-coupon {
	display: inline-block;
	position: relative;

	&-box {
		&__discount {
			position: absolute;
			top: 0;
			left: calc(50% - 5px);
			z-index: 1;
			color: #9d8474;
			font-size: $size-4;
			font-weight: 600;
			transform: translateX(-50%);
		}

		&__number {
			position: relative;
			top: -5px;
			color: #777;
			font-size: $size-5;
		}
	}
}
