// 로그인/회원가입 메시지 박스
.msg-box {
	padding: 15px;

	&-title {
		margin-bottom: 5px !important;
		font-size: $size-normal;
		font-weight: 600;
		word-break: keep-all;
		word-wrap: break-word;
	}

	&-desc {
		word-break: keep-all;
		word-wrap: break-word;
	}

	&-fullwidth {
		margin: 20px -20px 10px;
	}

	&-blue {
		padding: 30px;
		background-color: #f3f9ff;
		color: #385ea3;
		text-align: center;

		.dot-list {
			color: #727272;
			text-align: left;
			word-break: keep-all;
			word-wrap: break-word;
		}

		&__desc {
			margin-bottom: 20px;
			color: #333;
			font-size: $size-normal;
		}

		&__dl {
			display: table;
			width: 100%;
			margin-top: -1px;
			border-top: 1px solid #e3ecf6;
			border-bottom: 1px solid #e3ecf6;
			color: #777;
			font-size: $size-normal;

			dt,
			dd {
				display: table-cell;
				padding: 10px;
				text-align: left;
				vertical-align: middle;
			}

			dt {
				width: 20%;
			}

			dd {
				width: 80%;
				color: #333;

				span {
					color: #777;
				}
			}
		}

		.section-responsive-link {
			display: inline-block;
			margin-top: 20px;
			margin-bottom: 0;
			color: #333;
		}
	}

	&-tabwidth {
		margin: -5px -10px 20px;
		padding: 20px 30px;
	}

	&-yellow {
		border: 1px solid #fff6ce;
		background-color: #fffeeb;
		color: #ff5050;
	}

	.dot-list {
		text-align: left;
		word-break: keep-all;
		word-wrap: break-word;
	}
}

.help {
	padding: 0 12px;
	margin-top: 6px;
	font-size: 14px;
}

p.is-danger,
span.is-danger,
div.is-danger,
em.is-danger,
i.is-danger,
strong.is-danger,
p.color-danger,
span.color-danger,
div.color-danger,
em.color-danger,
i.color-danger,
strong.color-danger {
	color: $red;
	font-weight: normal;
}

h4.is-primary,
p.is-primary,
span.is-primary,
div.is-primary,
em.is-primary,
i.is-primary,
strong.is-primary,
p.color-primary,
span.color-primary,
div.color-primary,
em.color-primary,
i.color-primary,
strong.color-primary {
	color: $black;
	font-weight: normal;
}

h1.is-normal,
h2.is-normal,
h3.is-normal,
h4.is-normal,
h5.is-normal,
h6.is-normal,
p.is-normal,
span.is-normal,
div.is-normal,
em.is-normal,
i.is-normal,
strong.is-normal {
	font-weight: normal;
}

p.is-400,
span.is-400,
div.is-400,
em.is-400,
i.is-400,
strong.is-400 {
	font-weight: 400;
}

p.is-600,
span.is-600,
div.is-600,
em.is-600,
i.is-600,
strong.is-600 {
	font-weight: 600;
}

p.is-bold,
span.is-bold,
div.is-bold,
em.is-bold,
i.is-bold,
strong.is-bold {
	font-weight: bold;
}

.spinner-box {
	display: inline-flex;
	position: relative;
	font-size: 0;
	vertical-align: middle;

	&__minus,
	&__plus {
		display: inline-flex;
		position: relative;
		width: 30px;
		height: 30px;
		margin: 0;
		padding: 0;
		border: 1px solid #888;
		justify-content: center;
		align-items: center;

		i {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 7px;
			height: 1px;
			margin: -1px 0 0 -3px;
			background-color: #333;

			&:nth-child(2) {
				transform: rotate(90deg);
			}
		}
	}

	&__number {
		display: inline-flex;
		margin: 0 -1px;
		justify-content: center;
		align-items: center;

		input {
			width: 40px;
			height: 30px;
			margin: 0;
			padding: 0;

			text-align: center;
		}

		// Chrome, Safari, Edge, Opera
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		// Firefox
		input[type='number'] {
			-moz-appearance: textfield;
		}
	}

	&__minus,
	&__plus,
	&__number input {
		border: 1px solid #888;

		&:focus {
			z-index: 1;
		}
	}
}

.breadcrumb {
	font-size: 12px;
	color: #eee;
	ol {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: -15px;
			right: -1px;
			width: 1px;
			height: 49px;
			background: #eee;
		}
	}
	li {
		position: relative;
		padding: 0 20px;
		a {
			color: #333;
			cursor: pointer;
			pointer-events: inherit;

			&.dropdown-item.is-active {
				// background-color: #666;
				// color: #fff;
				cursor: pointer;
				pointer-events: inherit;
			}
		}
		&.home {
			padding: 0 13px;
		}
		&.is-active a {
			cursor: pointer;
			pointer-events: inherit;
		}

		&::after {
			position: absolute;
			top: -15px;
			left: 0;
			content: '';
			width: 1px;
			height: 49px;
			background: #e5e5e5;
		}

		+ li::before {
			margin: 0 20px;
			font-family: 'iconset' !important;
			// content: '\e94b';
			content: none;
			speak: none;
			font-size: 10px;
			color: #bbb;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
		}

		&.home a {
			display: block;
			padding: 0;
			font-size: 15px;
		}
		.dropdown-menu {
			width: calc(100% + 41px);
			margin: 14px 0 0 -20px;
			.dropdown-content {
				padding-bottom: 0;
				max-height: 223px;
				overflow-y: auto;
				a.dropdown-item {
					display: block;
					overflow: hidden;
					padding: 15px 10px 16px 19px;
					// justify-content: flex-start;
					// word-wrap: normal;
					word-break: keep-all;
					// text-overflow: ellipsis;
					line-height: 1.1;
					white-space: normal;
					&.is-active {
						background-color: #eee;
						font-size: 14px;
						color: #333;
					}
					&:hover {
						background: #eee;
					}
				}
			}
		}
	}

	.button {
		height: auto;
		padding: 0 12px 0 0;
		border: none;
		font-size: 14px;
	}

	.dropdown-trigger .icon {
		width: 10px;
		height: 10px;

		i {
			font-size: 10px;
		}
	}

	.dropdown-item {
		font-size: 14px;
	}

	.dropdown-content {
		padding-top: 0;
		border: 1px solid #e5e5e5;
	}
	.button .icon:last-child:not(:first-child) {
		margin-left: 40px;
	}
}

/* 달력 - datepicker */
.datepicker {
	width: 180px;
	height: 50px;
	color: #333;
	background: #fff url('../images/common/icon_calendar.png') no-repeat 88% 50%;
	border: 1px solid #ccc;
	padding-left: 20px;
}

input.readonly.datepicker,
input[readonly].datepicker,
input[readonly='readonly'].datepicker {
	background: #fff url('../images/common/icon_calendar.png') no-repeat 88% 50%;

	&:hover,
	&:focus {
		border-color: #333;
	}
}

.ui-datepicker {
	z-index: 100;

	&-title {
		color: #333;
		font-weight: normal;
		position: relative;
	}

	.ui-datepicker-prev {
		width: 26px;
		height: 26px;
		top: 3px;
		left: 38px;

		&-hover {
			top: 3px;
			left: 38px;
		}
	}

	.ui-datepicker-next {
		width: 26px;
		height: 26px;
		top: 3px;
		right: 38px;

		&-hover {
			top: 3px;
			right: 38px;
		}
	}

	table {
		padding: 0;
		font-size: 13px;
		margin: 0;
	}

	&-calendar {
		font-size: 13px;

		th {
			background: #fff;
			color: #333;
			width: 36px;
			height: 26px;
			padding: 0;
			border-bottom: 1px solid #ccc;
			font-weight: 400;
			text-align: center !important;
		}

		th span {
			display: block;
			width: 36px;
			height: 26px;
		}

		td {
			width: 36px;
			height: 26px;
			padding: 0;
		}
	}
}

.ui-widget.ui-widget-content {
	width: 284px;
	margin-top: -1px;
	padding: 15px 15px 10px;
	border: 1px solid #333;
}

.ui-widget-header {
	background: none;
	border: none;
	margin-bottom: 10px;
	padding: 0;

	.ui-datepicker-prev {
		top: 2px;

		&,
		&:hover {
			@include sprite-image($icon-chevron-l);
			@include sprite-position($icon-chevron-l);
			@include sprite-width($icon-chevron-l);
			@include sprite-height($icon-chevron-l);
			z-index: 1000;

			&.ws-year {
				text-indent: -999em;
				@include sprite-image($icon-chevron-ll);
				@include sprite-position($icon-chevron-ll);
				@include sprite-width($icon-chevron-ll);
				@include sprite-height($icon-chevron-ll);
			}
		}
	}

	.ui-datepicker-next {
		top: 2px;

		&,
		&:hover {
			@include sprite-image($icon-chevron-r);
			@include sprite-position($icon-chevron-r);
			@include sprite-width($icon-chevron-r);
			@include sprite-height($icon-chevron-r);
			// background: url('../images/common/bg-calendar-arr.png') no-repeat 100% 0;
			z-index: 1000;

			&.ws-year {
				text-indent: -999em;
				@include sprite-image($icon-chevron-rr);
				@include sprite-position($icon-chevron-rr);
				@include sprite-width($icon-chevron-rr);
				@include sprite-height($icon-chevron-rr);
			}
		}
	}

	a {
		cursor: pointer;

		&:hover {
			background: none;
			border: none;
		}
	}
}

.ui-corner-all {
	border-radius: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
	border: none;
	background: none;
	color: #777;
	text-align: center;
}

.ui-widget-content .ui-state-active {
	color: #333;
	background-color: #f4f4f4;
}

/* .ui-state-highlight, .ui-widget-content .ui-state-highlight{background:#e81818;color:#fff;border:none;}.ui-datepicker-week-end .ui-state-default{color:#e81818;} */
.ui-datepicker-header input.datepicker {
	cursor: pointer;
}

// 기간 개월별 선택
.date-select-wrap {
	display: flex;
	align-items: center;

	.date-select-month {
		flex-grow: 1;
		justify-content: flex-start;
	}

	.datepicker-wrap {
		width: 525px;
		display: flex;
		flex-grow: 0;
		justify-content: flex-end;
		align-items: center;

		.datepicker {
			margin: 0 5px;
		}

		.button {
			margin-left: 5px;
		}
	}
}

.date-select-month {
	.time-select-wrap {
		margin-top: 0;
		justify-content: flex-start;

		li {
			margin-left: -1px;

			.label {
				position: relative;
				display: flex;
				width: 73px;
				height: 30px;
				border: 1px solid #ccc;
				color: #777;
				font-size: 13px;
				font-weight: 400;
			}

			.time-select:checked + .label {
				color: #333;
				border-color: #333;
				background-color: #fff;
				z-index: 1;

				span.txt {
					color: #333;
				}
			}
		}
	}
}

// swiper 컨트롤 스타일 정의

.swiper-custom-control__box {
	position: absolute;
	top: 0;
	right: 0;
	width: 130px !important;
	height: 40px;
	margin-top: 50px;
	.swiper-button-prev,
	.swiper-button-next {
		position: static;
		border: 1px solid #ccc;
	}
	div.swiper-pagination-fraction {
		display: flex;
		justify-content: center;
		position: static;
		height: auto;
		color: #999;
		font-size: 14px;
	}
}

// bootstrap 커스텀 툴팁 css 정의
.custom-tooltip {
	position: absolute;
	z-index: 1070;
	margin: 3px 0 0 148px;
	&.product-item-price__discount--tooltip {
		display: block;
		line-height: 1.3;
	}
	.tooltip-inner {
		max-width: 200px;
		padding: 0;
		line-height: 1.3;
		dl,
		dt,
		dd {
			line-height: 1;
		}
	}
}
