.exhibition {
	.ex_0401 {
		img {
			display: block;
			margin: 0 auto;
		}
		.top {
			width: 100%;
			img {
				display: block;
			}
		}
		.sticky_tab {
			width: 100%;
			height: 140px;
			background: black;
			position: sticky;
			top: 0;
			left: 0;
			z-index: 10;
			div {
				width: 1366px;
				margin: 0 auto;
				a {
					display: block;
					float: left;
					color: #eee;
					font-size: 28px;
					line-height: 140px;
					letter-spacing: -2px;
					width: 227px;
					text-align: center;
					&.active {
						background: #eb5788;
						color: #fff;
						font-size: 35px;
						font-weight: 600;
					}
					&:last-child {
						width: 231px;
					}
				}
				&::after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
		.scroll-fixed-area.is-fixed {
			padding-top: 145px;
		}
	}
}
