.modal-layer-pop {
	display: none;
	width: 500px;
	height: 458px;
	padding: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&.is-active {
		display: block;
	}
	font-size: 0;
	.swiper-slide {
		img {
			width: auto;
		}
	}
	.swiper-pagination {
		bottom: 8px;
	}
	.swiper-pagination-bullets {
		display: block;
		.swiper-pagination-bullet {
			width: 7px;
			height: 7px;
			margin: 0 5px;
			border-radius: 4px;
			border: 1px solid #eee;
			background-color: transparent;
			transition: all 0.3s;
			outline: none;
			opacity: 0.4;
			&:hover,
			&:focus,
			&-active {
				border: 1px solid #eee;
				background-color: rgba(255, 255, 255, 0.5);
			}
			&-active {
				opacity: 1;
			}
		}
	}
	.modal-card {
		width: 100%;
		padding: 0;
		height: 100%;
		overflow: hidden;
		&-body {
			padding: 0;
			overflow: hidden;
		}
		&-foot {
			display: block;
			height: 30px;
			padding: 0;
			background: #333;
			text-align: right;
			button {
				margin: 0 10px;
				color: #fff;
				line-height: 1.1;
				height: 30px;
				font-size: 13px;
			}
		}
	}
}

.window-card-foot {
	display: block;
	height: 32px;
	background: #333;
	text-align: right;
	button {
		margin: 0 20px 0 12px;
		color: #fff;
		line-height: 1;
		height: 32px;
		font-size: 14px;
	}
}
.window-card {
	position: relative;
	font-size: 0;
	background-color: #333;
	img {
		display: block;
		width: 100%;
		max-width: 100%;
	}
	div {
		font-size: 15px;
	}
}
#modal-view-cocompany {
	.modal-card {
		width: 500px;
	}
}
.line-list {
	li {
		border-bottom: 1px solid #eee;
		a {
			display: block;
			padding: 10px 0;
			font-size: 16px;
			line-height: 1.2;
			color: #333;
			&:hover {
				background-color: #f7f7f7;
			}
		}
	}
}

//배송일 지정 관련 안내
.shipday {
	&-list {
		padding: 15px 0;
	}
	div+div {
		border-top: 1px solid #eee;
	}
}
