.product-item {
	// overflow: hidden;
	position: relative;
	min-width: 200px;
	// padding: 0 0 20px;
	// padding: 0 0 46px;
	flex: 0 0 25%;

	&:hover {
		.product-item-image img {
			transform-origin: 50% 50%;
			transform: scale(1.2);
		}
	}
	&--twentytwenty {
		&:hover {
			.product-item-image img {
				transform: scale(1);
			}
		}
	}
	&--small {
		width: 250px;
		.product-item-price {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			&__discount {
				margin-bottom: 0;
			}
			&__price--del {
				display: block;
				height: 24px;
				margin-top: 0;
				float: none;
				text-align: right;
			}
			&__price--wrap {
				margin-top: 0;
			}
			&__price {
				margin-right: 0;
			}
			&__discount--tooltip {
				top: 25px;
			}
		}
		.product-item-image {
			width: 250px;
			height: 250px;
			overflow: hidden;
		}
		&.__layout02 {
			width: 100%;
			padding-bottom: 40px;
			display: flex;
			border-bottom: 1px solid #eee;
			.product-item-image {
				width: 150px;
				height: 150px;
			}
			.product-item-content {
				max-width: 850px;
				padding-left: 30px;
				height: 150px;
				.product-item-header {
					margin-top: 0;
					height: 129px;
					.product-item-header__name {
						width: 820px;
						height: 44px;
						overflow: hidden;
					}
				}
				.product-item-price {
					margin-bottom: 0;
					justify-content: flex-start;
					align-items: center;
					.product-item-price__price--del {
						display: inline-block;
						line-height: 26px;
					}
				}
			}
		}
	}
	&--medium {
		width: 320px;
		.product-item-price {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		.product-item-image {
			width: 320px;
			height: 320px;
			overflow: hidden;
		}
	}
	&--large {
		width: 420px;
		.product-item-image {
			width: 420px;
			height: 420px;
			overflow: hidden;
		}
	}
	&--large02 {
		width: 500px;
		.product-item-image {
			width: 500px;
			height: 500px;
			overflow: hidden;
		}
	}
	&--xlarge {
		width: 640px;
		.product-item-image {
			width: 640px;
			height: 640px;
			overflow: hidden;
		}
	}
	&--xxlarge {
		// width: 780px;
		.product-item-image {
			width: 780px;
			height: 780px;
			overflow: hidden;
		}
	}
	&-status {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 2;
		width: 100%;
		height: 15%;
		background-color: rgba(0, 0, 0, 0.5);
		&--soldout {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			font-size: 18px;
			color: #fff;
		}
		&:before {
			display: none; //inline-block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 55%;
			height: 1px;
			background-color: #fff;
			transform-origin: 0 0;
			transform: rotate(45deg);
		}
		&:after {
			display: none; //inline-block;
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			width: 55%;
			height: 1px;
			background-color: #fff;
			transform-origin: 100% 100%;
			transform: rotate(45deg);
		}
	}
	&-button {
		&-wrap {
			display: none;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7); /* 변경 예정*/
			button {
				.icon-wrap {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 70px;
					height: 70px;
					border: 1px solid #fff;
					border-radius: 35px;
				}
				span {
					display: block;
					margin-top: 10px;
				}
				&:hover,
				&:active {
					opacity: 1;
					// .icon-wrap {
					// 	border-color: #fff;
					// }
					// span {
					// 	color: #fff;
					// }
				}
			}
		}
		&__button {
			margin-left: 5px;
			opacity: 0.6;
			&--cart {
				span {
					color: #fff;
					font-size: $size-5;
				}
			}
			&--buy {
				span {
					color: #fff;
					font-size: $size-5;
				}
			}
			&:first-child {
				margin-left: 0;
			}
		}
	}
	&-category {
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid #eee;
	}
	&-tag {
		display: block;
		position: absolute;
		z-index: 2;
		&__item {
			display: block;
			overflow: hidden;
			float: left;
			width: 60px;
			height: 20px;
			margin-right: 1px;
			border-radius: 2px;
			line-height: 20px;
			color: #fff;
			font-size: 12px;
			font-weight: 400;
			text-align: center;

			&--green {
				background-color: #64935d;
			}
			&--black {
				background-color: #333;
			}
			&--blue {
				background-color: #28a0e4;
			}
			&--orange {
				background-color: #ff8d39;
			}
			&--red {
				background-color: #ed2650;
			}
			&--brown {
				background-color: #9d8474;
			}
			&--mint {
				background-color: #46ceac;
			}
			&--pink {
				background-color: #be56ee;
			}
		}
		&__kinds {
			overflow: hidden;
			float: left;
			width: 22px;
			height: 22px;
			margin-left: 4px;
			vertical-align: top;
			border-radius: 3px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			img {
				width: 100%;
			}
			&--amount {
				display: inline-block;
				margin-left: 4px;
				color: #999;
				font-size: $size-5;
				vertical-align: top;
				line-height: 22px;
			}
			&--border {
				border: 1px solid #eee;
			}
		}
	}

	&-image {
		position: relative;
		overflow: hidden;
		padding: 0;
		// max-height: 249px;

		&:hover {
			.product-item-status {
				+ .product-item-button-wrap {
					display: none;
				}
			}
			.product-item-button-wrap {
				display: flex;
			}
		}
		&--circle {
			// border-radius: 100%;
		}

		img.image {
			// width: auto;
			max-width: inherit;
			// height: 100%;
			// vertical-align: top;
			// position: absolute;
			// left: 50%;
			// top: 50%;
			width: 100%;
			height: auto;
			// transform: translate(-50%, -50%);
			transition: transform 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
		}

		.buttons {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 0;
			border: none;

			.button {
				display: block;
				width: 54px;
				min-width: 54px;
				height: 54px;
				margin: 0;
				padding: 0;
				border: none;
				text-align: center;
			}
		}
	}

	&-content {
		padding: 0;
	}

	&-header {
		position: relative;
		margin: 20px 0 0;
		&__brand {
			display: inline-block;
			// width: 75px;
			height: 31px;
			margin-bottom: 10px;
			padding: 4px 15px;
			border: 1px solid #000;
			border-radius: 2px;
			// background-color: #fff;
			color: #333;
			font-size: $size-6;
			font-weight: 600;
			text-align: center;
			word-break: break-all;
			&-online {
				width: 107px;
				background: url(../images/common/brand_online.png) 50% 50%
					no-repeat;
			}
			&-livart {
				width: 96px;
				background: url(../images/common/brand_livart.png) 50% 50%
					no-repeat;
			}
		}
		&__name {
			display: block;
			height: 45px;
			margin-bottom: 15px;
			color: #000;
			font-size: $size-5;
			font-weight: 400;
			letter-spacing: -1px;
			line-height: 1.4;
			transition: opacity 0.1s;
			@include text-ellipsis-2();
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
		&__description {
			display: block;
			margin-bottom: 17px;
			max-height: 38px;
			line-height: 1.4;
			color: #777;
			@include text-ellipsis-2();
		}
		&__kinds {
			position: absolute;
			top: 5px;
			right: 0;
		}
		.groupbuy-item-goal-wrap {
			position: absolute;
			top: 5px;
			right: 0;
		}
	}
	&-body {
		margin-bottom: 20px;
		color: #333;
		&__writer {
			margin-top: 15px;
		}
	}

	.related-item {
		&-image {
			overflow: hidden;
			width: 70px;
			height: 70px;
			line-height: 0;
			.image {
				width: auto;
				height: 100%;
			}
		}
		&-header {
			&__name {
				display: block;
				color: #333;
				line-height: 1.2;
				@include text-ellipsis();
			}
		}
		&-price {
			&__price {
				color: #999;
			}
		}
	}

	&-price {
		display: inline-block;
		margin: 0 0 15px;

		&__rate {
			color: $red;
			margin-right: 0.5em;
		}
		&__discount {
			display: inline-block;
			position: relative;
			// margin-right: 10px;
			color: $red;
			font-size: 26px;
			font-weight: 600;
			line-height: 1;
			.ico-tooltip {
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-top: -6px;
				margin-right: 10px;
				font-size: 16px;
				color: #bbb;
				line-height: 1;
				vertical-align: middle;
				&:hover {
					color: #333;
					+ .product-item-price__discount--tooltip {
						display: block;
					}
				}
			}
			&--tooltip {
				display: none;
				position: absolute;
				top: 30px;
				left: calc(100% - 25px);
				z-index: 10;
				width: 180px;
				padding: 15px;
				border: 1px solid #333;
				box-sizing: border-box;
				background-color: #fff;
				dl {
					color: #777;
					padding: 8px 0;
					border-bottom: 1px solid #e5e5e5;
					&:first-child {
						padding-top: 0;
						color: #333;
						border-bottom: 1px solid #000;
					}
					&:nth-last-child(1) {
						padding-bottom: 0;
						border-bottom: none;
						dt {
							color: #333;
						}
						dd {
							color: $red;
						}
					}
					dt {
						font-size: 12px;
						font-weight: 400;
						&.float-left {
							padding-bottom: 0;
						}
					}
					dd {
						font-size: 12px;
						font-weight: 400;
						letter-spacing: -0.2px;
						.unit {
							font-size: 11px;
						}
					}
				}
			}
		}
		&__price {
			display: inline-block;
			margin-right: 10px;
			color: #333;
			font-size: 26px;
			font-weight: 600;
			line-height: 1.1;
			letter-spacing: -1px;
			height: 28px;
			&--wrap {
				display: inline-block;
				margin-top: 5px;
				&:after {
					display: block;
					content: '';
					clear: both;
				}
			}
			.unit {
				display: inline-block;
				font-size: $size-5;
				font-weight: 400;
				margin-left: 2px;
				margin-top: 6px;
				vertical-align: top;
			}

			&--del {
				display: inline-block;
				vertical-align: top;
				margin-top: 2px;
				color: #bbb;
				font-size: $size-5;
				float: right;
				.unit {
					font-size: $size-6;
				}
			}
		}
	}
	&-comm {
		display: inline-flex;
		align-items: center;
		// border: 1px solid red;
		i {
			// position: relative;
			// bottom: 2px;
			@include sprite-image($icon-talkblank);
			@include sprite-position($icon-talkblank);
			@include sprite-width($icon-talkblank);
			@include sprite-height($icon-talkblank);
			&::before {
				content: none;
			}
		}
		&__num {
			margin-left: 0.5em;
		}
	}
	&-heart {
		display: inline-flex;
		align-items: center;
		padding: 0;
		// border: 1px solid red;
		i {
			display: block;
			@include sprite-image($icon-like);
			@include sprite-position($icon-like);
			@include sprite-width($icon-like);
			@include sprite-height($icon-like);
		}
		&.is-active {
			i {
				@include sprite-image($icon-like_red);
				@include sprite-position($icon-like_red);
			}
		}
		&__num {
			display: inline-block;
			margin-left: 0.5em;
			font-size: $size-6;
			color: #28a0e4;
		}
		&-wrap {
			display: inline-block;
		}
		&:hover {
			.product-item-heart__num {
				color: #28a0e4;
			}
		}
	}
	&-view {
		display: inline-flex;
		align-items: center;
		padding: 0;
		i {
			display: inline-block;
			width: 21px;
			color: #777;
			font-size: 19px;
			vertical-align: middle;
		}
		&__num {
			display: inline-block;
			margin-left: 0.5em;
			font-size: $size-6;
			color: #777;
		}
	}
	span.product-item-heart {
		&__num {
			color: #777;
		}
		&:hover {
			.product-item-heart__num {
				color: #777;
			}
		}
	}

	&-stats {
		margin: 20px 0;
	}

	&-badge-list {
		margin: 6px 0 0;
	}

	&-button {
		width: 54px;
		height: 54px;

		&__heart {
			background-color: #fff;
		}

		&__share {
			background-color: #1a1a1a;
		}
	}

	&-related {
		border-top: 1px solid #000;
		padding-top: 23px;
		.related-item {
			a:hover {
				.related-item {
					&-header {
						&__name {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

.stats-rate {
	display: inline-block;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	vertical-align: middle;

	&__star {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 95%;
		&--00 {
			width: 0% !important;
		}
		&--05 {
			width: 9% !important;
		}
		&--10 {
			width: 19% !important;
		}
		&--15 {
			width: 29% !important;
		}
		&--20 {
			width: 40% !important;
		}
		&--25 {
			width: 50% !important;
		}
		&--30 {
			width: 61% !important;
		}
		&--35 {
			width: 71% !important;
		}
		&--40 {
			width: 80% !important;
		}
		&--45 {
			width: 92% !important;
		}
		&--50 {
			width: 100% !important;
		}
	}
	&__num {
		display: inline-flex;
		margin-left: 10px;
		align-items: center;
		vertical-align: middle;
		color: #333;
	}
}

%icon {
	display: inline-block;
	vertical-align: middle;
}

.product-item-icon {
	@extend %icon;
}

.product-review-stats-area {
	.stats-rate {
		&-wrap {
			display: flex;
			height: 20px;
			line-height: 1;
			font-size: $size-5;
			color: #333;
		}
		&__num {
			align-items: flex-end;
			margin-left: 7px;
			height: 20px;
			line-height: 1;
		}
	}
}

.product-item.time-sale {
	.product-item-image {
		&:hover {
			.product-item-button-wrap--time {
				display: flex;
			}
		}
	}
	.product-item-button-wrap--time {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);

		.product-item-button-text {
			display: flex;
			width: 100%;
			// height: calc(100% - 70px);
			align-items: center;
			justify-content: center;
			color: #fff;
			> dl {
				align-items: center;
				color: #fff;
				text-align: center;
				font-size: 16px;
				font-weight: 400;
				dt {
					font-size: 28px;
					line-height: 28px;
				}
				dd {
					font-size: 32px;
					strong {
						//margin-right: 10px;
						color: #fff;
						float: none;
						font-weight: 600;
					}
					span {
						float: none;
					}
				}
			}
			.groupbuy-item-goal__num {
				margin-left: 7px;
			}
		}
		.product-item-button__notification {
			display: flex;
			align-items: center;
			justify-content: center;
			> .button {
				width: 230px;
				height: 50px;
				margin-top: 20px;
				background-color: #ed2650;
				color: #fff;
				border: 1px solid #ed2650;
				// position: absolute;
				// bottom: 0;

				> span {
					margin: 0;
					margin-left: 10px;
					font-size: 16px;
				}

				&.is-active {
					background-color: transparent;
					color: #fff;
					border: 2px solid #ccc;
				}
			}
		}
	}

	.groupbuy-item-goal-wrap {
		height: 20px;
		// margin-top: 10px;

		.groupbuy-item-goal {
			line-height: 1;
			margin: 0 0 0;
			// .groupbuy-item-goal__bar {
			// 	margin-bottom: 10px;
			// 	background-color: #ccc;

			// 	.groupbuy-item-goal__bar--r {
			// 		position: absolute;
			// 		top: 0;
			// 		left: 0;
			// 		height: 5px;
			// 		background: #f85039;

			// 		@at-root .--progress-move & {
			// 			animation: aniProgress 2s ease-in-out;
			// 		}

			// 		&.groupbuy-item-goal__bar--auto {
			// 			animation: aniProgress 2s ease-in-out;
			// 		}
			// 	}
			// }
			> * {
				font-size: 22px;
			}
			.groupbuy-item-goal__day,
			.groupbuy-item-goal__num {
				float: none;
				font-weight: 600;
				color: #000;
			}

			.groupbuy-item-goal__num {
				margin-left: 5px;
			}
		}
	}
	// .product-item-header__name {
	// 	margin-bottom: 50px;
	// }
}

.product-item-stock {
	margin-top: 20px;
	border-top: 1px solid #eee;

	> span {
		display: block;
		padding-top: 20px;
		color: #333;
		font-size: 16px;
	}
}

.swiper-container-wrap {
	// margin: 0 -26.5px;
	.swiper-container {
		.navigation-box2 {
			.swiper-button-prev {
				left: 0;
			}
			.swiper-button-next {
				right: 0;
			}

			.swiper-button-next,
			.swiper-button-prev {
				top: 197px;
				// top: 186px;
				width: 70px;
				height: 70px;
				color: #fff;
				background-color: rgba(0, 0, 0, 0.9) !important;
				opacity: 0.5;
				transition: opacity 0.5s;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
