@charset "utf-8";
// @import "./bourbon/bourbon";
// @import "mixin";
// @import "colorfont";

.hide,
.blind,
caption,
legend {
	opacity: 0;
	text-indent: -999em;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.radio-list {
	.radios {
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}
	}
}

/*******************************************************************
layout board style
********************************************************************/
/* Tinymce */
.editTinymceImages {
	padding: 0 0 0 3px;
	border: 1px solid #c5c5c5;
	border-bottom: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

	a {
		display: inline-block;
		position: relative;
		margin: 3px 0;
		padding: 0px 10px;
		border: 1px solid #b1b1b1;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
		background: rgba(0, 0, 0, 0);
		color: #333;
		text-decoration: none;
		line-height: 26px;
		cursor: pointer;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

		&:hover {
			background-color: #e3e3e3;
			color: #333;
		}

		&:active {
			background-color: #d6d6d6;
			box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		}
	}
}

.mce-tinymce.mce-container.mce-panel {
	box-sizing: border-box;
}

.text-ellipsis {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	word-break: break-all;
	text-overflow: ellipsis;
}

.section-comment {
	margin-top: 1em;
	display: inline-block;
	width: 100%;
	padding: 1em;
	background: #f6f6f6;

	.h4-title {
		font-size: 22px;
	}

	.comment {
		margin: 1em 0;
		border: 1px solid #e5e5e5;
		background: #fff;

		textarea {
			width: 100%;
			height: 150px;
			padding: 0.7em 1em;
			border: 0;
		}
	}

	.btns-area {
		overflow: hidden;

		.byte-info {
			float: left;
		}

		.btn-group {
			position: static;
			float: right;
			transform: inherit;
			padding: 0;
		}
	}
}

.tabs.category {
	.tab-title {
		display: inline-block;
		display: none;
		width: 0;
		height: 0;
		overflow: hidden;
		text-indent: -999em;
		opacity: 0;
	}

	ul {
		li {
			.button {
				width: 100%;
				height: 100%;
				color: #666;
				cursor: pointer;
				border: 1px solid #dbdbdb;
				border-radius: 0;
				padding: 0.5em 1em;

				&:hover {
					background-color: whitesmoke;
					border-color: #d0d1cd;
					color: #363636;
					z-index: 2;
				}
			}

			&:first-child .button {
				border-radius: 4px 0 0 4px;
			}

			&:last-child .button {
				border-radius: 0 4px 4px 0;
			}

			&.is-active {
				.button {
					background-color: #3273dc;
					border-color: #3273dc;
					color: #fff;
					z-index: 1;
				}
			}
		}
	}
}

.board-wrap {
	.detail-content {
		#files_list > .file {
			position: relative;
			line-height: 25px;

			img {
				vertical-align: middle;
			}
		}

		input[type='checkbox'] {
			appearance: checkbox;
			-webkit-appearance: checkbox;
			vertical-align: middle;
		}
	}
}

.section-files {
	/* form design */
	.filebox {
		position: relative;
		margin: 0 0 2px;

		input[type='file'] {
			overflow: hidden;
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			padding: 0;
			border: 0;
			clip: rect(0, 0, 0, 0);
		}

		label {
			display: inline-block;
			position: absolute;
			top: 5px;
			left: 0;
			margin-top: -14px;
			margin-top: 0;
			margin-left: 5px;
			vertical-align: middle;
			cursor: pointer;
		}

		.upload-name {
			display: inline-block;
			width: 100%;
			line-height: 34px;
			border: 1px solid #e5e5e5;
			padding-left: 100px;
			vertical-align: middle;
			background-color: #fff;

			&.no-bg {
				border: none;
				background-color: transparent;
			}
		}

		.btn-small {
			color: #fff;
			width: 90px;
			text-align: center;
		}
	}

	&.attach {
		padding: 0.5em 0 !important;

		.h4-title {
			width: 100px !important;
			text-align: center;
			line-height: 33px;

			.title {
				margin-right: 5px;
			}
		}

		.btn-file-add,
		.btn-file-del {
			position: relative;
			width: 21px;
			width: 2.1rem;
			height: 21px;
			height: 2.1rem;
			margin: -4px 0 0;
			padding: 0;
			border-radius: 21px;
			border-radius: 2.1rem;
			background-color: #4d4d4d;
			font-size: 0;
			line-height: 21px;
			line-height: 2.1rem;
			text-align: center;
			vertical-align: middle;
			vertical-align: middle;
		}

		.btn-file-add:after,
		.btn-file-del:after {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 9px;
			height: 9px;
			margin: -4.5px 0 0 -4.5px;
			vertical-align: middle;
			content: '';
		}

		.btn-file-add:after {
			background: url(../_images/common/ico_plus.png) 50% 50% no-repeat;
			background-size: 100% auto;
		}

		.btn-file-del:after {
			background: url(../_images/common/ico_minus.png) 50% 50% no-repeat;
			background-size: 100% auto;
		}
	}

	.file-alt-label,
	.file-alt-text,
	.upfile-alt-label,
	.upfile-alt-text {
		position: static !important;
		display: inline-block;
		width: 100%;
	}

	.file-alt-text,
	.upfile-alt-text {
		border: 1px solid #e5e5e5;
	}
}

.section-files.list-img {
	.filebox {
		.upfile-alt-label {
			display: block;
			position: static;
			width: auto;
			padding: 5px 0;
		}

		.upfile-alt {
			width: 100%;
			height: 50px;
			margin: 0;
			padding: 5px;
			border: 1px solid #e5e5e5;
		}
	}
}

.board-header {
	background-color: #eee;
	padding: 1em;
	margin-bottom: 1.5em;
}

.pagination {
	padding: 1.5em 0;

	.pagination-previous,
	.pagination-next {
		position: relative;
	}

	.pagination-previous {
		padding-left: 25px;

		.ico-angle-left {
			left: 10px;
		}
	}

	.pagination-next {
		padding-right: 25px;

		.ico-angle-right {
			right: 10px;
		}
	}

	.ico-angle-left,
	.ico-angle-right {
		font-size: 23px;
		position: absolute;
		top: 45%;
		transform: translateY(-50%);
	}
}

/* list-style - list */
.board-wrap {
	.board-info {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;

		> span {
			display: inline-block;
			padding-right: 15px;

			&:last-child {
				padding-right: 0;
			}

			i {
				color: #aaa;
			}
		}
	}

	&.normal-list {
		.bbs-list {
			border-top: 2px solid #5f5f5f;
			border-bottom: 1px solid #5f5f5f;

			> li {
				border-bottom: 1px solid #e5e5e5;

				&:last-child {
					border-bottom: 0;
				}

				&:hover {
					background-color: #f1f1f1;
				}
			}

			.title {
				color: #4a4a4a;
				margin-bottom: 0;
				padding: 5px 0;
				font-weight: 400;

				&:hover {
					color: #145a9f;
				}
			}

			.layout-table {
				display: table;
				width: 100%;
				table-layout: fixed;

				> li {
					display: table-cell;
					vertical-align: middle;
					color: #707070;
					line-height: 1.4;
					padding: 0.5em 0;

					&.num {
						width: 60px;
						text-align: center;
					}

					&.content {
						padding: 0.5em;

						.files {
							position: relative;
							display: inline-block;
							padding-left: 55px;
							vertical-align: middle;
							margin-right: 20px;

							.name {
								position: absolute;
								top: 50%;
								left: 0;
								transform: translateY(-50%);
								font-size: 14px;
							}

							a {
								vertical-align: middle;
							}
						}
					}
				}
			}

			.table {
				table-layout: fixed;

				th,
				td {
					text-align: center;
					vertical-align: middle;
				}

				.subject {
					display: block;
					text-align: left;
				}
			}
		}
	}

	/* list-style - view */
	&.normal-view {
		.board-info {
			width: 100%;
			text-align: right;
			padding: 10px 0;
			line-height: 1.4;

			span {
				display: inline-block;
			}
		}

		.board-detail {
			.detail-header {
				position: relative;
				padding-right: 90px;

				.title {
					padding: 10px 0;
					word-break: keep-all;
					margin: 0;
				}

				.sns {
					position: absolute;
					bottom: 10px;
					right: 0;
					line-height: 1;
					font-size: 0;

					a {
						display: inline-block;
						width: 25px;
						height: 25px;
						border-radius: 100%;
						margin-right: 10px;
						overflow: hidden;
						text-align: center;
						text-indent: -999em;

						&:last-child {
							margin-right: 0;
						}

						i {
							font-size: 16px;
							line-height: 25px;
							color: #fff;
						}

						&.facebook {
							background: #395f9f;
						}

						&.twitter {
							background: #1ab1e8;
						}
					}
				}
			}

			.detail-content {
				border-top: 2px solid #5f5f5f;
				border-bottom: 1px solid #5f5f5f;

				.board-content {
					padding: 0.5em 0.7em;
					line-height: 1.4;
					min-height: 300px;
				}

				.thumbnail-view {
					padding-top: 2em;

					.attach-file-img {
						margin-bottom: 2em;
					}

					img {
						max-width: 100%;
					}
				}

				.section-files {
					padding: 0.5em 0.7em;
					border-top: 1px solid #e5e5e5;
					display: table;
					table-layout: fixed;
					width: 100%;
					line-height: 1.4;

					.title,
					.files-area {
						display: table-cell;
						vertical-align: top;
					}

					.title {
						width: 92px;
						padding: 3px 0 0 20px;
						position: relative;

						i {
							position: absolute;
							top: 0;
							left: 0;
							font-size: 20px;
							color: #145a9f;
							vertical-align: middle;
						}
					}

					.files-area {
						li {
							a {
								font-size: 0.9rem;
								display: inline-block;
								color: #707070;
								word-break: break-all;

								&:hover {
									color: #145a9f;
								}
							}
						}
					}
				}
			}
		}

		.btn-group {
			&:after {
				display: table;
				content: '';
				clear: both;
			}
		}
	}
}

/* list-style - write */
.board-wrap.normal-view.write {
	.detail-content {
		.add-info {
			dl {
				display: table;
				width: 100%;
				border-bottom: 1px solid #e5e5e5;

				dt,
				dd {
					display: table-cell;
					padding: 0.5em 0;
					vertical-align: middle;
					height: 45px;
				}

				dt {
					width: 100px;
					font-weight: 700;
					text-align: center;
				}

				dd {
					.input-text {
						border: 1px solid #e5e5e5;
						line-height: 28px;
						padding: 0 0.5em;
						width: 100%;
					}
				}
			}
		}
	}
}

/* thumbnail - list */
.board-wrap.normal-list {
	&.thumbnail {
		.board-info {
			position: absolute;
			left: 20px;
			bottom: 15px;
		}

		.bbs-list {
			.title {
				font-weight: 700;
			}

			.item {
				&:hover,
				&:focus {
					.content {
						a > span {
							color: #145a9f;
						}
					}

					.thumbnail-img img {
						transform: scale(1.2);
					}
				}
			}

			.layout-table {
				> li {
					padding: 15px 0;
					vertical-align: top;

					&.thumbnail-img {
						width: 200px;
						line-height: 1;
						font-size: 0;

						a {
							position: relative;
							display: inline-block;
							width: 100%;
							height: 133px;
							overflow: hidden;

							img {
								transition: all 0.3s;
							}
						}
					}

					&.content {
						position: relative;
						padding: 10px 10px 40px 20px;

						a {
							display: inline-block;
							width: 100%;
						}
					}
				}
			}
		}
	}
}

/* gallery - list */
.board-wrap.gallery-list {
	.board-info {
		display: block;
		width: 100%;
		border-top: 1px solid #e5e5e5;
		color: #707070;
		font-size: 14px;

		> span {
			line-height: 35px;
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		i {
			color: #aaa;
			margin-right: 3px;
		}
	}

	.bbs-list {
		overflow: hidden;
		margin: -10px;

		&:after {
			display: table-cell;
			content: '';
			clear: both;
		}

		> li {
			width: 33.3333%;
			float: left;
			padding: 10px;
		}

		.item {
			padding: 0;

			// border-bottom: 1px solid #e5e5e5;
			&:focus,
			&:hover {
				.thumb img {
					transform: scale(1.2);
				}

				dd a {
					background: rgba(0, 0, 0, 0.9);
				}
			}

			.thumb {
				position: relative;
				overflow: hidden;
				height: 200px;

				> a {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					line-height: 1;
					font-size: 0;
					height: 200px;
					width: auto;
				}

				img {
					width: auto;
					height: 120%;
					max-width: inherit;
					transition: all 0.3s;
				}
			}

			dd {
				position: relative;

				a {
					position: absolute;
					bottom: 36px;
					background: rgba(0, 0, 0, 0.7);
					padding: 0 10px;
					transition: all 0.3s;
				}
			}

			a {
				display: inline-block;
				width: 100%;

				.title {
					display: inline-block;
					width: 100%;
					padding: 10px 0 5px;
					color: #fff;
					font-weight: 500;
					line-height: 1.4;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					margin-bottom: 0;
				}
			}
		}
	}
}

/* video - list */
.board-wrap.video {
	.delArticle {
		position: absolute;
	}

	.bbs-list {
		margin-top: 1em;

		&.notice {
			display: block;
			border-bottom: 1px solid #145a9f;
			margin: 0 0 2em;

			.title {
				font-size: 22px;
				line-height: 1.4;
				padding: 1em 0 0.3em;
				border-bottom: 2px solid #145a9f;
			}

			.info {
				color: #707070;
				text-align: right;
				line-height: 1.4;
				padding-top: 7px;

				span {
					margin-right: 1.5em;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.video-area {
				padding: 1.5em 0 2em;

				.jwplayer {
					max-width: 720px;
					margin: 0 auto;
					padding-bottom: 43%;
				}
			}
		}

		.item {
			.thumb {
				a {
					position: relative;
					display: inline-block;
					width: 100%;

					&:before {
						position: absolute;
						top: 50%;
						left: 50%;
						margin: -35px 0 0 -35px;
						display: inline-block;
						width: 70px;
						height: 70px;

						content: '\eb96';
						font: normal normal normal 14px/1 iconset;
						display: inline-block;
						text-indent: 0;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						font-size: 70px;
						color: #fff;
						opacity: 0.7;
						text-shadow: 0px 1px 1px #5f5f5f;
					}
				}
			}
		}
	}

	.board_content {
		.jwplayer {
			max-width: 720px;
			margin: 0 auto 1.5em;
			padding-bottom: 43%;
		}
	}
}

/* faq - list */
.board-wrap.custom-faq-list {
	.bbs-list {
		.content-group {
			> .layout-table {
				a,
				.none-section {
					display: table-row;

					&:hover {
						background-color: #f6f6f6;
					}

					span {
						display: table-cell;
						vertical-align: middle;
						color: #3a3a3a;
						height: 55px;
						font-size: 16px;
						text-align: center;

						&.num {
							width: 55px;
						}

						&.title {
							text-align: left;
							padding: 0 7px;
						}

						&.ext01 {
							width: 185px;
						}

						&.ext02 {
							width: 30%;
						}
					}
				}
			}

			> dd {
				position: relative;

				.admin {
					display: inline-block;
					margin: 0.5em 0 0;

					.btn-blue {
						display: inline-block;
						padding: 4px 25px;
					}
				}

				> dl {
					display: table;
					table-layout: fixed;
					width: 100%;

					> dt,
					> dd {
						display: table-cell;
						height: 35px;
						padding: 0;
						font-size: 16px;
						vertical-align: middle;
					}

					> dt {
						width: 85px;
						position: relative;

						&:after {
							position: absolute;
							right: 5px;
							top: 3px;
							display: inline-block;
							content: ':';
						}
					}
				}
			}
		}
	}
}

.section-files .filebox .upload-name {
	height: 38px;
}

.board-wrap.normal-view.write .detail-content .add-info dl dd .input-text {
	height: 30px;
}

.board-wrap.gallery-list.video .bbs-list .item a .subject {
	max-height: 80px;
}

.board-wrap.normal-list.busi_offer {
	.bbs-list {
		margin-top: 1em;

		.layout-table {
			> li.offer_class {
				width: 60px;
				text-align: center;

				span {
					display: block;
					border-radius: 50px;
					width: 60px;
					height: 60px;
					font-weight: bold;
					line-height: 58px;
				}

				.serv {
					border: 1px solid #145a9f;
					color: #145a9f;
				}

				.sell {
					border: 1px solid #448ccb;
					color: #448ccb;
				}

				.buy {
					border: 1px solid #404a8f;
					color: #404a8f;
				}
			}

			> li.num {
				width: 80px;
				padding: 0 6px;
			}

			> li.offer_img {
				width: 130px;

				.img_wrap {
					width: 120px;
					font-size: 0;
					height: 70px;
					border: 1px solid #cfcfcf;
					box-shadow: 2px 2px 3px #ccc;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}

			> li.content {
				.top_cont {
					overflow: hidden;
					margin-bottom: 6px;

					&:after {
						clear: both;
						display: table;
						content: '';
					}

					.subject {
						float: left;
						width: auto;
						display: block;
						margin-right: 10px;
						word-break: break-all;
					}

					.sector {
						float: right;
					}
				}

				.comp_info {
					display: inline-block;
					vertical-align: middle;
					margin-right: 20px;

					.country {
						width: 45px;
						height: 30px;
						border: 1px solid #eee;
						margin-right: 10px;
					}

					> .wrap {
						display: table;

						.country,
						.comp {
							display: table-cell;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}

.board-wrap.normal-list .bbs-list.markets {
	margin-top: 2em;
}

.jwplayer {
	position: relative;
	padding-bottom: 56.25%;
	height: 0 !important;
}

.jwmain {
	height: auto;
	display: block;
	overflow: visible;
}

.section-comment-list {
	border-top: 1px solid #e5e5e5;
	margin-top: 1em;
	line-height: 1.5;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 1em;

	.comment-list {
		> li + li {
			border-top: 1px solid #e5e5e5;
		}

		.comment-top {
			display: table;
			width: 100%;
		}

		.comment-info {
			display: table-cell;
			vertical-align: middle;
			padding: 1em 0;

			> p {
				position: relative;
			}

			.info-date {
				position: absolute;
				right: 0;
			}
		}

		.comment-cont {
			padding-bottom: 1em;

			textarea {
				width: 100%;
			}
		}

		.btn_area {
			font-size: 0;
			display: table-cell;
			vertical-align: middle;
			text-align: right;
			width: 158px;

			.btn-blue {
				display: inline-block;
				text-align: center;
				width: 64px;
				height: 30px;
				line-height: 30px;
				font-size: 14px;
			}

			.btn-blue + .btn-blue {
				margin-left: 10px;
			}
		}
	}
}

.cmtlist {
	margin-top: 2em;
	border-top: 2px solid #b3b3b3;

	li {
		margin-bottom: 1.5em;
		padding-bottom: 7px;
		border-top: 1px dashed #b8b8b8;

		&:first-child {
			border-top: none;
		}

		button {
			cursor: pointer;
			padding: 3px 6px;
			border: 1px solid #cacaca;
			background: #fafafa;
			float: left;
			margin: 0 1px;
			font-size: 13px;
			line-height: 1.1;

			&:hover,
			&:active {
				background-color: #eee;
			}
		}

		.cmt_content {
			.board_comment {
				padding: 0 10px;
				color: #707070;
				line-height: 1.5;
			}

			.cmt_h {
				overflow: hidden;
				margin: 1.5em 10px 0.5em;

				.editText .cmtEditarea,
				.cmt_btn .deleteBtn,
				.writer_nm {
					float: left;
				}

				.cmt_btn {
					float: right;

					.edit_btn {
						float: left;
						margin-right: 5px;
					}

					.edit_cancelBtn {
						float: left;
					}

					span.pipe_line {
						float: left;
						margin-right: 5px;
					}
				}

				.writer_nm {
					.cmt_writer {
						font-size: 14px;
						font-weight: bold;
					}

					.cmt_date {
						font-size: 12px;
					}
				}
			}

			.editText {
				padding: 0 10px;
				position: relative;

				.byte-info {
					font-size: 13px;
					padding-top: 5px;
					line-height: 1.1;
				}

				.cmt_text {
					textarea {
						width: 100%;
						padding: 5px 65px 5px 5px;
						height: 80px;
					}
				}

				.cmt_btn {
					position: absolute;
					top: 21px;
					right: 27px;

					button {
						width: 40px;
						height: 40px;
						text-align: center;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.board-wrap {
		&.gallery-list {
			.bbs-list {
				> li {
					width: 50%;
				}
			}
		}
	}

	.board-wrap.normal-list.busi_offer .bbs-list .layout-table {
		display: block;
	}

	.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li {
		display: block;
	}

	.board-wrap.normal-list.busi_offer .bbs-list > li {
		width: 100%;
	}

	.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_class span {
		height: 28px;
		line-height: 26px;
		border-radius: unset;
	}

	.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_class {
		display: inline-block;
	}

	.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.num {
		display: none;
	}

	.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_img {
		width: 100%;
	}

	.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_img .img_wrap {
		position: relative;
		padding-top: 35%;
		width: 50%;
	}

	.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_img .img_wrap img {
		position: absolute;
		top: 0;
		left: 0;
	}

	.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .top_cont .subject,
	.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .top_cont .sector {
		float: none;
	}

	.board-wrap.normal-list.busi_offer + .btns-area {
		.btn-group {
			padding: 0;
			position: relative;
			display: block;
			right: auto;
			top: auto;
			text-align: right;

			.btn-custom {
				float: none;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.board-wrap.normal-list {
		&.thumbnail {
			.bbs-list {
				.board-info {
					margin-top: 10px;
					position: static;
				}

				.item {
					.layout-table {
						display: block;

						> li {
							display: block;

							&.thumbnail-img {
								width: 100%;
								max-width: 300px;
								margin: 0 auto;

								a {
									height: 200px;
								}
							}

							&.content {
								padding: 0 0 15px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.is-hidden-480 {
		display: none !important;
	}

	.board-wrap {
		.board-header {
			.level-right {
				.is-grouped {
					display: block;

					.control {
						width: 100%;
						margin-bottom: 10px;

						&:last-child {
							margin-bottom: 0;
						}

						.select,
						.select select,
						.input,
						.button {
							width: 100%;
						}
					}
				}
			}
		}

		&.gallery-list {
			.bbs-list {
				> li {
					width: 100%;
					max-width: 375px;
					margin: 0 auto;
					float: none;
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.board-wrap.gallery-list .bbs-list > li {
		width: 100%;
	}

	.section-comment-list .comment-list .comment-info .info-date {
		position: relative;
		display: block;
	}
}

@media screen and (max-width: 380px) {
}
