@charset "utf-8";
$transition: 'cubic-bezier(0.17, 0.04, 0.03, 0.94)';

// 공통 UI + mini reset
@import './bulma/base/minireset';
@import './_font.scss';
// color, font-size 등 변수 정의
@import './bulma/utilities/_all';

// Set your brand colors
// $blue: #3273dc;
// $darkgrey: #666;
// $beige-light: #d0d1cd;
// $beige-lighter: #fafafa;

// $column-gap: 0.75rem;

// // Update Bulma's global variables
// $grey-dark: $darkgrey;
// $grey-light: $beige-light;
// $link: $blue;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
// $body-background-color: #fff;
// $control-border-width: 1px;
// $input-border-color: transparent;
// $input-shadow: none;

@import './bulma/base/generic';
@import '_common';
@import './bulma/base/helpers';
// icon font import
@import '_iconset';

// all include example
// @import "utilities/_all";
// @import "base/_all";
// @import "elements/_all";
// @import "form/_all";
// @import "components/_all";
// @import "grid/_all";
// @import "layout/_all";

// Import only what you need from Bulma
// color, font-size 등 변수 정의
// @import './bulma/utilities/_all';
// @import './bulma/base/_all';
// @import './_font.scss';
@import './_delete.scss';

@import './bulma/grid/columns';

// @import './bulma/layout/hero';
@import './bulma/layout/section';

@import './bulma/elements/button';
@import './bulma/elements/container';
@import './bulma/elements/content';
// @import './bulma/elements/notification';
// @import './bulma/elements/progress';
@import './bulma/elements/icon';
@import './bulma/elements/table';
// @import './bulma/elements/tag';
@import './bulma/elements/title';
@import './bulma/form/_all';

// @import './bulma/components/level';
@import './bulma/components/card';
@import './bulma/components/dropdown';
// @import './bulma/components/message';
@import './bulma/components/breadcrumb';
@import './bulma/components/media';
@import './bulma/components/modal';
@import './bulma/components/list';
// @import './bulma/components/navbar';
@import './bulma/components/pagination';
@import './bulma/components/tabs';

// icon sprite 정의
@import './sprites/_icon-sprite';
@include sprites($icon-sprites);
// 반응형 레티나용 이미지아이콘
@import './sprites/_icon2-sprite';
@include sprites($icon2-sprites);
@include retina-sprites($retina-groups);

// jQuery UI 용 scss
@import '_jquery_ui';

// custom control
@import '_custom_control';
// 커스텀 컴포넌트
@import '_custom_components';
// 커스텀 셀렉트 박스
@import '_select2';

// step progress indicator
@import '_step_indicator';
// 상품 UI 전용
@import '_product';
// collapse
@import '_bulma_collapse';

// livart layout 용
@import '_layout2';

// index 메인용
@import '_style_main';
// 메인 모듈용
@import '_main_module';

// custom scroll bar
@import '_scrollbar';

// 제품 상세용
@import '_pitem';
// 통합검색
@import '_tsearch';
// 카테고리
@import '_category';
// 장바구니
@import '_cart2';
// 쿠폰존
@import '_coupon';
// 마이페이지
@import '_mypage';

// 커스텀 컬렌더
@import '_custom_calendar';

// 고객센터
@import '_cscenter';

// 기획전
@import '_planning';

// 주문결제
@import '_order_payment2';

// 이벤트
@import '_event';

// 전시공통 모듈 : 베스트, 신상품, 공동구매, 반짝특가(타임세일), 브랜드샵
@import '_main_common';

// 브랜드소개
@import '_ws';
@import '_pk';
@import '_we';

// 커뮤니티
@import '_community';

// 온라인전용, 매장가구, 리모델링, 사무가구
@import '_brand';

// 개인정보 처리방침, 이용약관
@import '_notice';

// 팝업
@import '_popup';
